<div>
    <label for="author-id">Tác giả:</label>
    <input list="list-author" class="config-max-width margin-vertical" id="author-id">

    <datalist id="list-author">
        @foreach (var pub in ViewData["lsAuthor"] as IList<String>)
        {
            <option>@pub</option>
        }
    </datalist>
    <br>
    <br>
</div>
