<div id="biggestContainer_bottom">
    @*<div class="cvsdf097">
        <div class="logo-menu">
            <img src="/Media/playwithme.png" class="playwithme-logo" />
        </div>
        <div>
            Play with me
        </div>
    </div>*@
    @*<div class="cvsdf097">
        &#x1F3E1 Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Thành Phố Hà Nội
    </div>
    <div class="cvsdf097">
        &#x1F5E8 083 577 4489
    </div>*@
    <div class="mzljai09">
        <div style="display: flex; align-items: center; margin-bottom: 8px;">
            <img src="/Media/playwithme.png" style="width: 24px; height: 24px; margin-right: 8px; object-fit: contain;" />
            <a class="akxj9098" href="/">Trang chủ</a>
        </div>
        <div><a class="akxj9098" href="/Policy/IntroducePolicy">Giới thiệu</a></div>
    </div>

    <div class="mzljai09">
        <div>&#x1F3E0;Số 28, Ngõ 3, Khu Tập Thể Đo Lường, Tổ Dân Phố 3A, phường Đông Ngạc, Hà Nội</div>
        <div>&#x260E; 083 577 4489</div>
        <div>&#x1F4E7;playwithmebook@gmail.com</div>
    </div>
</div>
