<div id="biggestContainer_bottom">
    <div class="cvsdf097">
        <div class="logo-menu">
            <img src="/Media/playwithme.png" class="playwithme-logo" />
        </div>
        <div>
            Play with me
        </div>
    </div>
    <div class="cvsdf097">
        &#x1F3E1 Địa Chỉ: Số 24 Ngõ Việt Hà 2, Tổ Dân Phố Phú Minh, Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Thành Phố Hà Nội
    </div>
    <div class="cvsdf097">
        <i class="fa fa-mobile-phone" style="font-size:24px; margin-right:5px;"></i>
        035.912.7226
    </div>
    <div class="cvsdf097">
        <i class="fa fa-mobile-phone" style="font-size:24px; margin-right:5px;"></i>
        038.351.9872
    </div>
</div>
