<div id="biggestContainer_bottom">
    @*<div class="cvsdf097">
        <div class="logo-menu">
            <img src="/Media/playwithme.png" class="playwithme-logo" />
        </div>
        <div>
            Play with me
        </div>
    </div>*@
    <div class="cvsdf097">
        &#x1F3E1 Địa Chỉ: Tổ Dân Phố Phú Minh, Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Thành Phố Hà Nội
    </div>
    <div class="cvsdf097">
        &#x1F5E8 083 577 4489
    </div>

</div>
