<div id="biggestContainer_top">
    <div id="biggestContainer_top_first" class="first">
        <div id="right_container">
            <div class="main-page-container" onclick="GoHomePage();"  title="Trang chủ">
                <img class="icon24" src="~/Media/mainPageIcon.png">
                <span>Trang chủ</span>
            </div>
            <div class="top-account-container" 
                 onmouseenter="MouseEnterDropdownContentOfTopAccount()"
                 onmouseleave="MouseLeaveDropdownContentOfTopAccount()">
                <div class="account-container" onclick="ClickShowDropdownContentOfTopAccount()">
                    <img class="icon24" src="~/Media/accountIcon.png">
                    <span>Tài khoản</span>
                </div>
                <div class="dropdown-content">
                    <div class="remove-underline-container">
                        <a class="remove-underline" href="/Customer/AccountInfor" title="Thông tin tài khoản">
                            Thông tin tài khoản
                        </a>
                    </div>
                    <div class="remove-underline-container">
                        <a class="remove-underline" href="/Customer/Order" title="Đơn hàng của tôi">
                            Đơn hàng của tôi
                        </a>
                    </div>
                    <div class="remove-underline-container">
                        <a class="remove-underline" href="javascript:void(0);" onclick="Logout();" title="Đăng xuất">
                            Đăng xuất
                        </a>
                    </div>
                    <div class="remove-underline-container">
                        <a class="remove-underline" href="/Customer/Login" title="Đăng xuất">
                            Đăng nhập
                        </a>
                    </div>
                    <div class="remove-underline-container">
                        <a class="remove-underline" href="javascript:void(0);" onclick="Register();" title="Đăng xuất">
                            Đăng ký
                        </a>
                    </div>
                </div>
            </div>
            <div class="cart-container">
                <a class="remove-underline" href="/Home/Cart" title="Giỏ hàng">
                    <div>
                        <div class="cart-wrapper">
                            <img class="icon24" src="~/Media/cartIcon.png">
                            <span class="cart-count">0</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="left_container">
            <div class="logo-menu">
                <img src="~/Media/playwithme.png" class="playwithme-logo">
            </div>
            <div class="search_wrapper">
                <div>
                    <img class="icon20" src="~/Media/searchIcon.png">
                </div>
                <input class="search-input-text" id="search-input-text-id" type="text" value="" placeholder="Bạn tìm gì hôm nay">
                <button type="button" class="search-button" id="search-input-button-id"onclick="HomeSearch()">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>