<div id="biggestContainer_bottom">
    <div class="mzljai09">
        <div style="display: flex; align-items: center; margin-bottom: 8px;">
            <img src="/Media/playwithme.png" style="width: 24px; height: 24px; margin-right: 8px; object-fit: contain;" />
            <a class="akxj9098" href="/">Trang chủ</a>
        </div>
    </div>
    <div class="mzljai09">
        <div><a class="akxj9098" href="/Policy/IntroducePolicy">Giới thiệu</a></div>
    </div>

    <div class="mzljai09">
        <div style="margin-bottom:5px;">&#x1F3E0;Số 28, Ngõ 3, Khu Tập Thể Đo Lường, Tổ Dân Phố 3A, phường Đông Ngạc, Hà Nội</div>
        <div style="margin-bottom:5px;">&#x260E; 083 577 4489</div>
        <div style="margin-bottom:5px;">&#x1F4E7;playwithmebook@gmail.com</div>
    </div>
</div>
