<div id="biggestContainer_bottom">
    @*<div class="cvsdf097">
        <div class="logo-menu">
            <img src="/Media/playwithme.png" class="playwithme-logo" />
        </div>
        <div>
            Play with me
        </div>
    </div>*@
    @*<div class="cvsdf097">
        &#x1F3E1 Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Thành Phố Hà Nội
    </div>
    <div class="cvsdf097">
        &#x1F5E8 083 577 4489
    </div>*@
    <div class="mzljai09">
        <div class="kahxiua98" >Thông tin</div>
        <div><a class="akxj9098" href="/">Trang chủ</a></div>
        <div><a class="akxj9098" href="/Policy/IntroducePolicy">Giới thiệu</a></div>
    </div>
    <div class="mzljai09">
        <div class="kahxiua98" >Chính sách hướng dẫn</div>
        <div><a class="akxj9098" href="/Policy/InforCustomerPolicy">Chính sách bảo mật thông tin</a></div>
        <div><a class="akxj9098" href="/Policy/GuaranteePolicy">Chính sách bảo hành</a></div>
        <div><a class="akxj9098" href="/Policy/ReturnRefundPolicy">Chính sách đổi trả, hoàn tiền</a></div>
        <div><a class="akxj9098" href="/Policy/CheckPolicy">Chính sách kiểm hàng</a></div>
        <div><a class="akxj9098" href="/Policy/TransportPolicy">Chính sách vận chuyển</a></div>
        <div><a class="akxj9098" href="/Policy/ComplaintPolicy">Chính sách xử lý khiếu nại</a></div>
        <div><a class="akxj9098" href="/Policy/PayPolicy">Chính sách thanh toán</a></div>
        <div><a class="akxj9098" href="/Policy/ObligationPolicy">Nghĩa vụ các bên trong giao dịch</a></div>
    </div>
    <div class="mzljai09">
        <div class="kahxiua98">Liên hệ</div>
        <div>Địa chỉ: Số 24, Ngõ Việt Hà 2, TDP Phú Minh, Phường Cổ Nhuế 2,
        Quận Bắc Từ Liêm, Thành Phố Hà Nội</div>
        <div>Điện thoai: 083 577 4489</div>
        <div>Email: playwithmebook@gmail.com</div>
    </div>
</div>
