<div>
    @Html.Partial("~/Views/Shared/CategorySelect.cshtml")
    <button type="submit" formaction="/Category/Create" formtarget="_self" style="float: right;">Thêm thể loại</button>
    <br>
    <br>
</div>
