@Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
<div>
    <label for="category-id">Category:</label>
    <input list="list-category" class="config-max-width margin-vertical" id="category-id">

    <datalist id="list-category">

    </datalist>
</div>

<div>
    <button type="button" onclick="CreateCategory()">Thêm mới</button>
    <button type="button" onclick="DeleteCategory()">Xóa</button>
</div>

<div>
    <button type="button" onclick="LoadCategory()"> Danh sách thể loại</button>
</div>
<table id="category-table"></table>


