
<div id="modal-change-password" class="modal center-block-selected">
    <!-- Modal content -->
    <div class="modal-content-container">
        <div class="register-container">
            <form>
                <label for="old_password">Mật khẩu cũ:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="old_password" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>

                <label for="new_passWord">Mật khẩu mới:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="new_passWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>

                <label for="re_new_passWord">Nhập lại mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="re_new_passWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>
            </form>
            <div class="kcbuc0986">
                <button type="button" class="modal-customer-infor-button-return" onclick="ReturnFromChangePasswordModal()">Trở Lại</button>
                <button type="button" class="modal-customer-infor-button-finish" onclick="FinishChangePassword()">Thay Đổi</button>
            </div>
        </div>
    </div>
</div>

