<div>
    @Html.Partial("~/Views/Shared/ComboSelect.cshtml")
    <button type="submit" id = "button-go-page-combo-id" formaction="/Combo/Create" formtarget="_self" style="float: right;">Thêm combo</button>
    <br />
    <br>
</div>
