@Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
@Html.Partial("~/Views/Shared/ComboSelect.cshtml")

<div>
    <button type="button" onclick="CreateCombo()">Thêm mới</button>
    <button type="button" onclick="DeleteCombo()">Xóa</button>
</div>

<div>
    <button type="button" onclick="LoadCombo()"> Danh sách Combo</button>
</div>
<table id="combo-table"></table>

