<div class="display-flex-margin10" id="e-commerce-type-id">
    <div class="display-flex-margin-right20-align-items-center" id="container-all-e-ecommonerce-type">
        <input type="radio" id="all-e-ecommonerce-type" name="name-e-ecommonerce-type"
               onchange="ECommerceTypeChange()"
               class="margin-left20">
        <label for="all-e-ecommonerce-type">Tất cả</label>
    </div>
    <div class="display-flex-margin-right20-align-items-center" id="container-play-with-me-e-ecommonerce-type">
        <input type="radio" id="play-with-me-e-ecommonerce-type" name="name-e-ecommonerce-type"
               onchange="ECommerceTypeChange()"
               class="margin-left20">
        <label for="play-with-me-e-ecommonerce-type">Play With Me</label>
    </div>
    <div class="display-flex-margin-right20-align-items-center">
        <input type="radio" id="tiki-e-ecommonerce-type" name="name-e-ecommonerce-type"
               onchange="ECommerceTypeChange()"
               class="margin-left20">
        <label for="tiki-e-ecommonerce-type">Tiki</label>
    </div>
    <div class="display-flex-margin-right20-align-items-center">
        <input type="radio" id="shopee-e-ecommonerce-type" name="name-e-ecommonerce-type"
               onchange="ECommerceTypeChange()"
               class="margin-left20">
        <label for="shopee-e-ecommonerce-type">Shopee</label>
    </div>
    <div class="display-flex-margin-right20-align-items-center">
        <input type="radio" id="lazada-e-ecommonerce-type" name="name-e-ecommonerce-type"
               onchange="ECommerceTypeChange()"
               class="margin-left20">
        <label for="lazada-e-ecommonerce-type">Lazada</label>
    </div>
</div>
