<title>@ViewData["title"]</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="icon" type="image/x-icon" href="~/Media/favico.png">
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/web.play.with.me.common.css?v=20260610">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9RDTRXXKK"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z9RDTRXXKK');
</script>
<script defer src="~/Scripts/bootstrap.bundle.min.js"></script>
