<div>
    <input class="margin-vertical"
           type="file"
           id="imagefileElem"
           multiple
           accept="image/*"
           style="display:none" />

    <div id="imagefileList">
        <p>Chưa ảnh nào được chọn!</p>
    </div>
    <a href="#" id="imagefileSelect">Chọn ảnh</a>
    @*<a href="#" id="imagefileUnSelect">Bỏ chọn ảnh</a>*@
</div>
