<div>
    <label for="product-name-id">Tên:</label>
    <input list="list-product-name" class="config-max-width margin-vertical" id="product-name-id">

    <datalist id="list-product-name">
    </datalist>
    <button type="button" onclick="UpdateName()" class="diplay-none-when-create" style="float: right; display:none">Cập nhật</button>

    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
</div>
