<div>
    <label for="product-weight">Nặng(g):</label>
    <input type="number" list="list-product-weight" class="config-max-width margin-vertical" id="product-weight">

    <datalist id="list-product-weight">
        @foreach (var pub in ViewData["lsProductWeight"] as IList<int>)
        {
            <option>@pub</option>
        }
    </datalist>
    <br>
    <br>
</div>
