@Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
<div>
    <form>
        <div>
            <label for="publisher-id">Nhà phát hành:</label>
            <input list="list-Publisher" class="config-max-width margin-vertical" id="publisher-id" oninput="PublisherChange()">

            <datalist id="list-Publisher">
            </datalist>
        </div>
        <label for="detail">Thông tin chi tiết thêm:</label><br>
        <textarea id="detail" rows="10"></textarea>
    </form>
</div>

<div>
    <button type="button" onclick="CreatePublisher()">Thêm mới</button>
    <button type="button" onclick="UpdatePublisher()">Cập nhật</button>
    <button type="button" onclick="DeletePublisher()">Xóa</button>
</div>
<div>
    <button type="button" onclick="loadPublishers()"> Danh sách nhà phát hành</button>
</div>
<table id="publisher-table"></table>
