<div>
    <label for="publishing-company-id">Nhà xuất bản:</label>
    <input list="list-publishing-company" class="config-max-width margin-vertical" id="publishing-company-id">

    <datalist id="list-publishing-company">
        @foreach (var pub in ViewData["lsPublishingCompany"] as IList<String>)
        {
            <option>@pub</option>
        }
    </datalist>
    <br>
    <br>
</div>
