<div>
    <label for="publisher-id">Nhà phát hành:</label>
    <input list="list-Publisher" class="config-max-width margin-vertical" id="publisher-id" oninput="PublisherChange()">

    <datalist id="list-Publisher">
        @foreach (var pub in ViewData["lsPublisher"] as IList<MVCPlayWithMe.Models.Publisher>)
        {
            <option data-id=@pub.id data-detail="@pub.detail">@pub.name</option>
        }
    </datalist>
</div>
