<div>
    @Html.Partial("~/Views/Shared/PublisherSelect.cshtml")
    <button type="submit" formaction="/Publisher/Create" formtarget="_self" style="float: right;">Thêm nhà phát hành</button>
    <br />
    <br>
</div>

