<div>
    <input class="margin-vertical"
           type="file"
           id="videofileElem"
           accept="video/*"
           style="display:none" />
    <div id="videofileList">
        <p>Chưa video nào được chọn!</p>
    </div>
    <a href="#" id="videofileSelect">Chọn video</a>
    @*<a href="#" id="videofileUnSelect">Bỏ chọn video</a>*@
    <br />
</div>
