.fmx09gx8 {
    background-color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}
.xvsfx02xv {
    background-color: #ffb500;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.nsklnksjn {
    background-color: #ff3399;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.gmxk9381 {
    margin: 10px 5px 10px 5px;
    width: 100%;
}

button {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.flpzni5136{
    margin-bottom:15px;
}
