bin
packages
obj
Media
Web.config
MVCPlayWithMe.csproj.user
MVCPlayWithMe.csproj.user
/Web.Release.config
/Web.Debug.config
/.vs
/sitemap.xml
MVCPlayWithMe.csproj.user
Properties/PublishProfiles/CustomProfile1.pubxml.user
