.avasf931{
    margin:5px;
}

.fmx09gx8 {
    background-color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}
.amzof92nxj{
    background-color: white;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border-radius: 2px;
}

.fksnvjsl092n{
    margin: 10px 10px 15px 10px;
}
.gfdgdgdxg676 {
    width: 60px;
}
.gfdgfghxg676 {
    width: 120px;
}
