    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }

        button {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }

        .fcnal986j {
            margin-right: 40px;
            border: 1px solid #e9ecef;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 3px 4px;
            padding: 5px;
            margin: 5px;
        }

        .lk09Jbvrd {
            display: inline;
            margin-right: 20px;
        }
    </style>
