.pro-status {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.fmx09gx8 {
    background-color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.gfdgfghxg676 {
    width: 120px;
}

.xvxvxkshubnx {
    padding: 10px 20px;
    font-size: 16px;
    border: none; /* Bỏ border */
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
