
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div>
            <label for="category-id">Category:</label>
            <input class="config-max-width margin-vertical" id="category-id">
        </div>

        <div>
            <button type="button" style="margin-right:20px;" onclick="CreateCategory()" disabled
                    title="Thể loại theo TIKI nên không cần thêm mới bằng tay">Thêm Mới</button>
            <button type="button" onclick="ShowListCategory()"> Danh Sách Thể Loại</button>
        </div>
        <table id="category-table" style="display:none;">
            <tr>
                <th style="display:none">Id</th>
                <th>STT</th>
                <th>Tên</th>
            </tr>
        </table>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Category/Create.js?v=20260610"></script>
</body>
</html>
