.wraper-pagination{
    display: flex;
    /*background-color: DodgerBlue;*/
}

.wraper-pagination > div {
        border-radius: 5px;
        width: 36px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        padding-top: 12px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        border-radius: 8px;
        color: #004370;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }

.pagination-item.active {
    background: #E3ECFF;
}

/*.go-to-detail-item:hover {
    cursor: pointer;
}*/

