@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            <div>
                <label for="publisher-id">Nhà phát hành:</label>
                <input list="list-Publisher" class="config-max-width margin-vertical"
                       id="publisher-id">
                <datalist id="list-Publisher"></datalist>
            </div>
            <br>

            <div>
                <label for="from-date">Từ ngày:</label>
                <div>
                    <input type="date" class="margin-vertical" id="from-date">
                </div>
            </div>
            <br />

            <div>
                <label for="to-date">Tới ngày:</label>
                <div>
                    <input type="date" class="margin-vertical" id="to-date">
                </div>
            </div>
            <br />

            <div class="config-max-width">
                <button type="button" onclick="GetListImport()" id="import-list">Lấy danh sách nhập</button>
            </div>
            <br />

            <table id="myTable">
                <tr>
                    <th style="display:none"></th> @*id*@
                    <th>Tên</th>
                    <th>Giá Bìa</th>
                    <th>Chiết Khấu</th>
                    <th>Giá Nhập</th>
                    <th>Số lượng</th>
                    <th>Ngày</th>
                </tr>
            </table>

            <div class="config-max-width">
                <br />
                <button type="button" onclick="Update()">Cập nhật</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Product/ChangeImport.js?v=20260610"></script>
</body>
</html>

