@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="config-max-width padding-container">
            @Html.Partial("~/Views/Shared/ProductInput.cshtml")
            <div class="config-max-width">
                <br />
                <button type="button" onclick="AddNewProPromise()">Thêm mới sản phẩm</button>
            </div>
            <p id="result-insert"></p>
        </div>
    </div>
    <script>
        function PublisherChange() {
        }
    </script>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.image.video.common.js"></script>
    <script src="~/Scripts/web.play.with.me.product.upload.js"></script>
</body>
</html>

