
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }

        button {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }

        .fcnal986j {
            margin-right: 40px;
            border: 1px solid #e9ecef;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 3px 4px;
            padding: 5px;
            margin: 5px;
        }

        .lk09Jbvrd {
            display: inline;
            margin-right: 20px;
        }
    </style>
</head>
<body onload="GetListCommonItemMappingFromProductId()">
    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            <div class="fmx09gx8">
                <button type="button" onclick="UpdateQuantityToTMDTFromListCommonItem(false, listCommonItem)"
                        title="Cập nhật số lượng sản phẩm lên Tiki, Shopee, Lazada và hiện kết quả">
                    Cập Nhật Số Lượng Trên Sàn
                </button>

            </div>
            <div class="config-max-width padding-container">
                <div class="fcnal986j">
                    <div class="lk09Jbvrd">
                        <input type="radio" id="nvnlFxjg" name="status-radio" value="All"
                               onclick="ShowResultWithFilter()" />
                        <label for="nvnlFxjg">Tất cả</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="nvnlFfesg" name="status-radio" value="On" checked
                               onclick="ShowResultWithFilter()" />
                        <label for="nvnlFfesg">Đang bán</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="nvnlFfesg" name="status-radio" value="Off"
                               onclick="ShowResultWithFilter()" />
                        <label for="nvnlFfesg">Dừng bán</label>
                    </div>
                </div>
                <table id="myTable">
                    @Html.Partial("~/Views/Shared/Product/TableOfMapping.cshtml")
                </table>
            </div>

            <div class="mapping_sample" style="display:none;">
                <table>
                    <tr>
                        <th style="display:none">Mã Item</th>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>SL</th>
                        <th>SL Kho</th>
                    </tr>
                </table>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.mapping.of.item.model.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        // mảng sản phẩm cần cập nhật
        let listCommonItem = [];

        async function GetListCommonItemMappingFromProductId() {
            listCommonItem = [];
            let id = GetValueFromUrlName("id");
            const searchParams = new URLSearchParams();
            searchParams.append("id", id);
            let query = "/Product/GetListMappingOfProduct";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            if (responseDB.responseText != "null") {
                listCommonItem = JSON.parse(responseDB.responseText);
            }
            else {
                listCommonItem = [];
            }
            if (listCommonItem.length == 0) {
                ShowDoesntFindId();
                return;
            }

            ShowResultWithFilter();
        }

        function ShowResultWithFilter() {
            let table = document.getElementById("myTable");
            let obj = document.querySelector('input[name="status-radio"]:checked');
            let listCommonItemTem = [];
            if (obj.value == "All") {
                listCommonItemTem = listCommonItem;
            }
            else if (obj.value == "On") { // Hiển thị những item đang bán
                for (let i = 0; i < listCommonItem.length; i++) {
                    if (listCommonItem[i].bActive) {
                        listCommonItemTem.push(listCommonItem[i]);
                    }
                }
            }
            else { // Item dừng bán
                for (let i = 0; i < listCommonItem.length; i++) {
                    if (!listCommonItem[i].bActive) {
                        listCommonItemTem.push(listCommonItem[i]);
                    }
                }
            }

            // Show table
            ShowListCommonItem(listCommonItemTem, table, false);
        }
    </script>
</body>
</html>
