@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Product/OrderManually.css?v=20260610">
            <div class="config-max-width">
                <br />
                <button type="button" onclick="CreateOrder()">Lưu</button>
                <button type="button" style="float: right;" onclick="Delete()">Xóa toàn bộ</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Product/OrderManually.js?v=20260610"></script>
</html>

