<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Product/Search.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            <div>
                <div>
                    <label for="publisher-id">Nhà phát hành:</label>
                    <input list="list-Publisher" class="config-max-width margin-vertical"
                           id="publisher-id" onchange="ChangePublisher()">
                    <datalist id="list-Publisher"></datalist>
                </div>
                <br>
                <div id="anzgnsg88720n">
                    <div>
                        <label for="code-or-isbn">Mã sản phẩm hoặc ISBN:</label><br>
                        <input class="config-max-width margin-vertical" type="text" id="code-or-isbn" value="">
                    </div>
                    <br>

                    @Html.Partial("~/Views/Shared/ProductNameSelect.cshtml")
                    <br>
                    @Html.Partial("~/Views/Shared/ComboSelect.cshtml")
                </div>

                <div style="margin:10px;">
                    <div>
                        <input type="checkbox" id="checkbox-on-off-dont-sell" onclick="OnOffSearchDontSellOnECommerce()">
                        <label for="checkbox-on-off-dont-sell">Tìm sản phẩm chưa đăng bán</label>
                    </div>
                    <div style="margin-bottom:10px;" id="xmskgjskjp0258">
                        @Html.Partial("~/Views/Shared/ECommerceType.cshtml")
                        <div>
                            <button type="button" style="margin-left: 30px; margin-right:10px;"
                                    title="Sản phẩm trong kho kinh doanh bình thường, chưa mapping với bất kỳ sản phẩm nào trên sàn thương mại điện tử.
                        Kết quả trả về được sắp xếp tồn kho tăng dần. Chọn nhà phát hành để lọc sau khi lấy được tất cả"
                                    onclick="SearchDontSellOnECommerce(false)">
                                Chưa Đăng Bán
                            </button>

                            <button type="button" title="Khách không thể mua lẻ sản phẩm. Do sản phẩm trong kho kinh doanh bình thường chưa mapping riêng lẻ / một mình với bất kỳ sản phẩm nào trên sàn thương mại điện tử.
                        Kết quả trả về được sắp xếp tồn kho tăng dần. Chọn nhà phát hành để lọc sau khi lấy được tất cả"
                                    onclick="SearchDontSellOnECommerce(true)">
                                Chưa Đăng Bán Riêng Lẻ.
                            </button>

                            <button type="button" title="Chưa đăng bán đầy đủ combo, riêng lẻ ở cùng 1 sản phẩm cha / Item trên sàn.
                                    Các sản phẩm trong combo đều đang kinh doanh"
                                    onclick="SearchDontSellFullComboAndSigleOnECommerce()">
                                Chưa Đăng Bán Combo + Lẻ.
                            </button>

                            <button type="button" title="Chưa đăng bán riêng lẻ tất cả sản phẩm đang kinh doanh ở cùng 1
                                    sản phẩm cha / Item trên sàn."
                                    onclick="SearchDontSellSigleWithParrentOnECommerce()">
                                Chưa Đăng Bán Lẻ Cùng Cha.
                            </button>

                            <button type="button" title="Chưa đăng bán hoàn toàn riêng lẻ, xét với tất cả sản phẩm đang kinh doanh,
                                    không có sản phẩm cha, anh em gì cả."
                                    onclick="SearchDontSellSigleWithNoParrentOnECommerce()">
                                Chưa Đăng Bán Lẻ Không Có Cha.
                            </button>
                        </div>
                        <div id="xcvnai9309xvx0">
                            <button type="button" style="margin-left: 30px; margin-top: 15px;"
                                    title="Tạo sản phẩm riêng lẻ không cha trên sàn thương mại điện tử của những sản phẩm bên dưới nếu sản phẩm chưa được đăng riêng lẻ không cha"
                                    onclick="CreateProductOnECommerceFromList()">
                                Tạo Sản Phẩm Riêng Lẻ Không Cha Trên Sàn TMDT Từ Danh Sách
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="position:relative;" id="nfkalzu9825">
                <button type="button" title="Kết quả lọc theo nhà phát hành, mã, ISBN, tên và tên combo.
                        Kết quả trả về được sắp xếp tồn kho tăng dần."
                        onclick="SearchProduct()">
                    Tìm kiếm
                </button>
                <button type="button" title="Cập nhật số lượng theo danh sách hiển thị bên dưới."
                        style="position: absolute; right:10px;"
                        onclick="UpdateQuantityFromListBelow()">
                    Cập nhật tồn kho
                </button>
            </div>
            <br />

            <div>
                <div id="empty-result" style="display:none">
                    <p>Kết quả trống</p>
                </div>
                <div id="search-result" style="display:none">
                    <div class="fmx09gx8">
                        <div class="pro-status">
                            <input type="radio" id="status-all" name="status-avxgbhf"
                                   class="margin-left20" checked
                                   onchange="FilterProductAll()">
                            <label for="status-all">Tất Cả</label>
                        </div>
                        <div class="pro-status">
                            <input type="radio" id="status-normal" name="status-avxgbhf"
                                   class="margin-left20"
                                   onchange="FilterProductNormal()">
                            <label for="status-normal">Đang Bán</label>
                        </div>
                        <div class="pro-status">
                            <input type="radio" id="status-banned" name="status-avxgbhf"
                                   class="margin-left20"
                                   onchange="FilterProductDisable()">
                            <label for="status-banned">Dừng Bán</label>
                        </div>

                        <div class="pro-status"
                             title="Sản phẩm có tồn kho bằng 0. Bao gồm cả sản phẩm dừng kinh doanh">
                            <input type="radio" id="quantity-zero" name="status-avxgbhf"
                                   class="margin-left20"
                                   onchange="FilterProductQuantityZero()">
                            <label for="quantity-zero">Hết Hàng</label>
                        </div>

                        <div class="pro-status"
                             title="Sản phẩm có tồn kho bằng 0. Không bao gồm sản phẩm dừng kinh doanh">
                            <input type="radio" id="quantity-zero-disable" name="status-avxgbhf"
                                   class="margin-left20"
                                   onchange="FilterProductNormalQuantityZero()">
                            <label for="quantity-zero-disable">Đang Bán Và Hết Hàng</label>
                        </div>

                        <div class="pro-status">
                            <input type="radio" id="pro-no-price" name="status-avxgbhf"
                                   class="margin-left20"
                                   title="Sản phẩm có giá bằng 0, thậm chí nhỏ hơn 0"
                                   onchange="FilterProductNoPrice()">
                            <label for="pro-no-price">Chưa Set Giá</label>
                        </div>

                        <div class="pro-status">
                            <input type="radio" id="fzadgfgrj9567af" name="status-avxgbhf" class="margin-left20"
                                   title="Giá bán có giá lớn hơn hoặc bằng giá trị bên cạnh"
                                   onchange="FilterProductPriceBigger()">
                            <label for="fzadgfgrj9567af">Giá Lớn Hơn</label>
                            <input type="number" class="price-bigger gfdgfghxg676"
                                   value="0" />
                            <label>đ</label>
                        </div>

                        <div class="pro-status">
                            <input type="radio" id="ghjsf834gh5sg" name="status-avxgbhf" class="margin-left20"
                                   title="Giá bán nhỏ hơn hoặc bằng giá trị bên cạnh"
                                   onchange="FilterProductPriceSmaller()">
                            <label for="ghjsf834gh5sg">Giá Nhỏ Hơn</label>
                            <input type="number" class="price-smaller gfdgfghxg676"
                                   value="0" />
                            <label>đ</label>
                        </div>
                    </div>
                    <div id="count-result"></div>
                    <table id="myTable">
                        <tr>
                            <th style="display:none">productId</th>
                            <th style="width:200px">Ảnh</th>
                            <th title="Tên đỏ biểu hiện sản phẩm hết hàng, xanh lơ biểu hiện không kinh doanh">Tên</th>
                            <th title="Click để sắp xếp các sản phẩm ĐANG HIỂN THỊ cùng combo cạnh nhau, tên combo id tăng dần"
                                style="cursor:pointer;" onclick="ArrangeCombo()">Tên Combo</th>
                            <th> Giá Bìa</th>
                            <th title="Đỏ biểu hiện số lượng tồn kho là 0. Click để sắp xếp tăng hoặc giảm dần tồn kho sản phẩm ĐANG HIỂN THỊ"
                                style="cursor:pointer;" onclick="ArrangeQuantity()">Số Lượng</th>
                            <th title="Bật hoặc tắt sản phẩm"> Bật/Tắt</th>
                            <th style="display:none;">comboId</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Product/Search.js?v=20260610"></script>
</body>
</html>
