@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Product/Search.css?v=20260610">
                            <th style="display:none;">comboId</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Product/Search.js?v=20260610"></script>

