@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            <div style="margin-bottom:10px;">
                @Html.Partial("~/Views/Shared/ECommerceType.cshtml")
                <div>
                    <label for="publisher-id">Nhà phát hành:</label>
                    <input list="list-Publisher" class="config-max-width margin-vertical"
                           title="Nếu nhà phát hành không đúng, sẽ hiển thị dữ liệu của tất cả nhà phát hành"
                           id="publisher-id" onchange="ChangePublisher()">
                    <datalist id="list-Publisher"></datalist>
                </div>
                <div>
                    <label for="selling-statistics-interval">Khoảng thời gian (ngày):</label>
                    <input type="number" min="30" value="30" id="selling-statistics-interval"
                           title="Giá trị nhỏ nhất là 30 ngày">
                    <button type="button" style="margin-left: 30px; margin-right:10px;"
                            title="Thống kê lượt bán thực tế (đã trừ hàng hoàn) những sản phẩm đang kinh doanh trong khoảng thời gian đã chọn"
                            onclick="SellingStatistics()">
                        Thống Kê
                    </button>
                </div>
            </div>
            <br />

            <div id="container-statistics" style="display:none;">
                <div id="count-result"></div>
                <table id="myTableStatistics">
                    <tr>
                        <th style="display:none"></th>
                        <th>Tên</th>
                        <th style="cursor:pointer;" onclick="SortTable('myTableStatistics', this)">Số Lượng</th>
                        <th style="cursor:pointer;" onclick="SortTable('myTableStatistics', this)"
                            title="Sản phẩm trung bình bán được / tháng (30 ngày)">Sản Phẩm/Tháng</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Product/SellingStatistics.js?v=20260610"></script>
</body>
</html>

