@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>

    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            @Html.Partial("~/Views/Shared/ProductInput.cshtml")
            <div class="config-max-width">
                <br />
                <button type="button" onclick="MappingOfProduct()"
                        title="Xem sản phẩm liên kết trên sàn Tiki, Shopee, Lazada">
                    Sản Phẩm Liên Kết Trên Sàn
                </button>
                <button type="button" style="margin-left: 30px;" onclick="UpdateProductPromise()">Cập Nhật</button>
                <button type="button" style="margin-left: 30px;"
                        title="Sản phẩm chỉ có thế xóa khi đang không liên kết với sản phẩm nào trên
                        Shopee, Tiki, Lazada, web voibenho, trong đơn hàng đã được bán, thông tin nhập xuất thực tế,..."
                        onclick="DeleteProduct()">
                    Xóa
                </button>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.image.video.common.js"></script>
    <script src="~/Scripts/web.play.with.me.product.upload.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        ShowUpdateButtonForOne();

        ShowProductFromObject();

        function MappingOfProduct() {
            // Lấy id
            let id = GetValueFromUrlName("id");
            window.open("MappingOfProduct?id=" + id);
        }
    </script>
</body>
</html>

