
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
    <link rel="stylesheet" href="~/Content/Home/Cart.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="sample-selected-model">
            <div class="zoXdNN selected-model" data-model-id="">
                <div class="checkbox-name-header">
                    <div class="mcsiKT">
                        <input class="stardust-checkbox__input model-checkbox-input" type="checkbox" onclick="ClickModelCheckBox(this)">
                    </div>
                    <div class="eUrDQm">
                        @*<div class="LAQKxn">*@
                            <a class="item-url" title="Sách Ehon Kĩ Năng Sống Cho Bé (1-6 tuổi) - Miu Bé Nhỏ - Lẻ tùy chọn" href="/Sách-Ehon-Kĩ-Năng-Sống-Cho-Bé-(1-6-tuổi)-Miu-Bé-Nhỏ-Lẻ-tùy-chọn-i.137637267.11045712091?xptdk=77506fc9-816a-4d32-837d-3c81356a5dee">
                                <img class="WanNdG" src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lkkyikcwkaui58" alt="product image">
                            </a>
                            <div class="TyNN8t">
                                <a class="JB57cn item-url" title="Sách Ehon Kĩ Năng Sống Cho Bé (1-6 tuổi) - Miu Bé Nhỏ - Lẻ tùy chọn" href="/Sách-Ehon-Kĩ-Năng-Sống-Cho-Bé-(1-6-tuổi)-Miu-Bé-Nhỏ-Lẻ-tùy-chọn-i.137637267.11045712091?xptdk=77506fc9-816a-4d32-837d-3c81356a5dee">
                                    Sách Ehon Kĩ Năng Sống Cho Bé (1-6 tuổi) - Miu Bé Nhỏ - Lẻ tùy chọn
                                </a>
                                @*<div style="margin-top:10px;" class="dcPz7Y">ĐỪNGTHỨCKHUYA.Songng</div>*@
                            </div>
                        @*</div>*@
                    </div>
                </div>
                <div class="price-quantity-sum-delete-header">
                    <div class="G7E4B7">
                        <div style="text-align:center;">
                            <span class="vWt6ZL">₫39.000</span>
                            <span class="M-AAFK">₫29.800</span>
                        </div>
                    </div>
                    <div class="MRh9G6">
                        <div class="_8Xhu5_ shopee-input-quantity">
                            <button type="button" class="EOdsa-" onclick="Decrease(this)">
                                <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon">
                                    <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
                                </svg>
                            </button>
                            <input class="EOdsa- v3H4Zf" type="text" value="4" oninput="ValidateInput(this)">
                            <button type="button" class="EOdsa-" onclick="Increase(this)">
                                <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">
                                    <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                    </polygon>
                                </svg>
                            </button>
                        </div>
                        <div class="max-quantity" style="padding-top:5px;">
                            4992 sản phẩm có sẵn
                        </div>
                    </div>
                    <div class="ofQLuG">
                        <span>₫119.200</span>
                    </div>
                    <div class="mhcjog">
                        <button type="button" class="fX1Y2g" onclick="DeleteSanPhamOnCartElement(this)">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-empty">
            <strong>Bạn chưa chọn sản phẩm nào.</strong>
            <p>Quay về <a href="/" title="">trang chọn sản phẩm</a></p>
        </div>
        <div class="main-container">
            @*<div class="BjIo5w">
                <div class="checkbox-name-header">
                    <div class="mcsiKT mcsiKT-header">
                        <input class="stardust-checkbox__input" type="checkbox">
                    </div>
                    <div class="yl931K">Sản Phẩm</div>
                </div>
                <div class="price-quantity-sum-delete-header">
                    <div class="pZMZa7">Đơn Giá</div>
                    <div class="lKFOxX">Số Lượng</div>
                    <div class="_5f317z">Số Tiền</div>
                    <div class="_4E7yJ">Thao Tác</div>
                </div>
            </div>*@
            <div class="contianer-selected-model">
            </div>
            <div class="s1Gxkq">
                <div class="s1Gxkq-sum">
                    <div class="mcsiKT">
                        <input class="stardust-checkbox__input all-model-checkbox-input" type="checkbox" onclick="ClickAllModelCheckBox(this)">
                    </div>
                    <button type="button" class="iGlIrs">Chọn Tất Cả (50)</button>
                </div>
                <div class="pay-container">
                    <div class="aiyQAr">
                        <div class="A-CcKC">
                            Tổng thanh toán
                        </div>
                        <div class="A-CcKC A-CcKC-SanPham">(0 Sản phẩm):
                        </div>
                        <div class="WC0us-"><sup>₫</sup>417.200</div>
                    </div>
                    <button type="button" class="shopee-button-solid" onclick="BuyNow()"><span class="TTXpRG">Mua Hàng</span></button>
                </div>
            </div>
        </div>
        @*@Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")*@
    </div>

    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/cart-manager.js"></script>
    <script src="~/Scripts/Home/Cart.js?v=20260610"></script>
</body>
</html>
