@*@{
        ViewBag.Title = "Contact";
    }

    <h2>Contact</h2>*@
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>

    </head>
    <body>

        <picture>
            <source srcset="/" type="image/webp">
            <img src="~/Media/playwithme.jpg" alt="Card image">
        </picture>
        <img src="~/Media/sach1.webp" alt="Card image">
        <img src="~/Media/playwithme.png" alt="Card image">
        <img src="~/Media/playwithme.jpg" alt="Card image">

    </body>
    </html>

