@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/Home/Error.css?v=20260610">
</head>
<body>
    <div class="container-page-404">
        <div class="page-404">
            <img src="/Media/404.svg" alt="" class="icon-404">
            <strong class="title-404">Không tìm thấy đường dẫn này</strong>
            <p>Quay về <a href="/" title="">trang chọn sản phẩm</a></p>
        </div>
    </div>
</body>
</html>

