
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }

        button {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body onload="GetListCommonItemMappingFromComboId()">
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <button type="button" onclick="UpdateQuantityToTMDTFromListCommonItem(listCommonItem)"
                    title="Cập nhật số lượng sản phẩm lên Tiki, Shopee, Lazada và hiện kết quả">
                Cập Nhật Số Lượng Trên Sàn
            </button>

        </div>
        <div class="config-max-width padding-container">
            <table id="myTable">
                @Html.Partial("~/Views/Shared/Product/TableOfMapping.cshtml")
            </table>
        </div>

        <div class="mapping_sample" style="display:none;">
            <table>
                <tr>
                    <th style="display:none">Mã Item</th>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>SL</th>
                    <th>SL Kho</th>
                </tr>
            </table>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.mapping.of.item.model.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        // mảng sản phẩm cần cập nhật
        let listCommonItem = [];

        async function GetListCommonItemMappingFromComboId() {
            listCommonItem = [];
            let id = GetValueFromUrlName("id");
            const searchParams = new URLSearchParams();
            searchParams.append("id", id);
            let query = "/Combo/GetListMappingOfCombo";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            if (responseDB.responseText != "null") {
                listCommonItem = JSON.parse(responseDB.responseText);
            }
            else {
                listCommonItem = [];
            }
            let table = document.getElementById("myTable");
            ShowListCommonItem(listCommonItem, table, false);
        }
    </script>
</body>
</html>
