@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }
        .xvsfx02xv {
            background-color: #ffb500;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 5px;
        }

        .nsklnksjn {
            background-color: #ff3399;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 5px;
        }

        .gmxk9381 {
            margin: 10px 5px 10px 5px;
            width: 100%;
        }

        button {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }
        .flpzni5136{
            margin-bottom:15px;
        }
    </style>
</head>
<body>
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sản phẩm trong kho</div>
            <button type="button" onclick="CopyShopeeProductImageToProduct()"
                    title="Sản phẩm trong kho chưa có ảnh, video.
                    Copy ảnh sản phẩm trên sàn Shopee tới sản phẩm trong kho">
                Chép Ảnh Từ Shopee Tới Sản Phẩm Trong Kho
            </button>

            <button type="button" onclick="AddWaterMark()" disabled
                    title="Thêm waterMark logo voi bé nhỏ vào giữa ảnh cho tất cả anh trong thư mục.
                    Cân nhắc khi dùng hàm này">
                Thêm Water mark logo voi bé nhỏ tất cả ảnh
            </button>

            <button type="button" onclick="DeleteDuplicateDataOftbShopeeModel()" disabled
                    title="Xóa dữ liệu trùng lặp ở bảng tbShopeeModel.
                    Nhiều dữ liệu của sản phẩm có TMDTShopeeModelId = -1 đang bị trùng lặp
                    Cân Nhắc khi dùng hàm này">
                Xóa dữ liệu trùng lặp ở bảng tbShopeeModel
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> SHOPEE</div>
            <div class="gmxk9381">
                <input type="text" id="shopee_something_input"
                       class="config-max-width margin-vertical"
                       placeholder="Nhập thông tin gì đó phục vụ các hàm. VD: id thể loại,..." />
            </div>
            <button type="button" onclick="ShopeeSaveImageSourceOfItemAndModel()" disabled
                    title="Lấy url ảnh đại diện của item, model shopee cập nhật vào db đối với item, model chưa có image url.">
                Lấy URL ảnh Item, model lưu vào db
            </button>

            <button type="button" onclick="ShopeeGetBrandList()"
                    title="Lấy danh sách thương hiệu trạng thái bình thường theo id thể loại.">
                Lấy danh sách thương hiệu
            </button>

            <button type="button" onclick="ShopeeGetChannelList()"
                    title="Lấy danh sách kênh vận chuyển. Sẽ được lưu vào chương trình chứ không lưu db vì dữ liệu nhỏ, lấy nhanh">
                Lấy danh sách kênh vận chuyển
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> LAZADA</div>
            <div class="gmxk9381">
                <input type="text" id="lazada_something_input"
                       class="config-max-width margin-vertical"
                       placeholder="Nhập thông tin gì đó phục vụ các hàm. VD: id thể loại,..." />
            </div>
            <button type="button" onclick="LazadaUpdateQuantityAll()" disabled
                    title="Cập nhật số lượng tất cả sản phẩm đang bật bán trên sàn.">
                Cập nhật giá tất cả bật bán
            </button>

            <button type="button" onclick="LazadaUpdatePrice_SalePriceAll()" disabled
                    title="Cập nhật giá bìa, giá bán cho tất cả sản phẩm đang bật bán.">
                Cập nhật giá bìa, giá bán tất cả bật bán
            </button>

            <button type="button" onclick="LazadaGetCategoryTree()"
                    title="Lấy danh sách thể loại tất cả. Lưu vào log.">
                Lấy danh sách thể lọai
            </button>

            <button type="button" onclick="LazadaGetCategoryAttributes()"
                    title="Lấy thuộc tính của thể loại từ id thể loại. Lưu vào log.">
                Lấy thuộc tính của thể loại
            </button>

            <button type="button" onclick="LazadaGetBrandByPages()" disabled
                    title="NOTE:MẤT THỜI GIAN.
                    Lấy thương hiệu của tất cả thể loại. Lưu vào DB.
                    Vì không kiểm tra tồn tại trong DB nên cần xóa dữ liệu cũ, reset cột Id">
                Lấy thương hiệu tất cả thể loại
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> TIKI</div>
            <button type="button" onclick="TikiSaveImageSourceOfItemAndModel()" disabled
                    title="Lấy url ảnh đại diện của item tiki cập nhật vào db đối với item chưa có image url.">
                Lấy URL ảnh Item lưu vào db
            </button>

            <button type="button" onclick="TikiTestPullEvent()"
                    title="Test chức năng lấy event đơn hàng từ queue đã đang ký." disabled>
                Test lấy event đơn hàng
            </button>

            <button type="button" onclick="TikiTestSomething()"
                    title="Test chức năng nào đó.">
                Test chức năng nào đó
            </button>
        </div>

        <div class="xvsfx02xv">
            <div class="gmxk9381"> Ủy quyền SHOPEE</div>
            <div class="flpzni5136">
                <input type="text" id="live_partner_key" class="config-max-width margin-vertical"
                       title="Live Partner Key của shop, lấy từ open shopee platform. Chỉ thay đổi khi làm mới Live Partner Key" />
                <button type="button" onclick="ShopeeSaveLivePartnerKey()"
                        title="Cập nhật Live Partner Key từ input trên">
                    Cập Nhật Live Partner Key
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="authorization_url" class="config-max-width margin-vertical"
                       title="URL gửi chủ shop server trả về sau khi click button ngay dưới" />
                <button type="button" onclick="ShopeeGetAuthorizationURL()"
                        title="Lấy được url gửi chủ shop, chủ shop vào url xác thực ủy quyền phần mềm. Hiển thị ở input ngay trên">
                    Sinh URL Ủy Quyền
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="code" class="config-max-width margin-vertical"
                       title="Code của shope nhận được sau khi chủ shop ủy quyền. Chỉ thay đổi khi làm mới ủy quyền" />
                <button type="button" onclick="ShopeeSaveCode()"
                        title="Cập nhật code từ input trên">
                    Cập Nhật Code
                </button>
            </div>

            <button type="button" onclick="ShopeeGetTokenShopLevelAfterAuthorization()"
                    title="Lấy được và lưu refresh, access token ngay sau khi chủ shop ủy quyền.
                    DB đã có live partner key, code">
                Lấy Và Lưu Refresh Access Token Ngay Sau Ủy Quyền
            </button>

        </div>

        <div class="nsklnksjn">
            <div class="gmxk9381"> Lấy URL Ủy quyền LAZADA</div>
            <div class="flpzni5136">
                <input type="text" id="generate_authority_url_lazada" class="config-max-width margin-vertical"
                       title="Hiển thị đường dẫn gửi chủ shop ủy quyền cho phần mềm" />
                <button type="button" onclick="LazadaGenerateAuthorityUrl()"
                        title="Lấy được đường dẫn gửi chủ shop ủy quyền cho phần mềm">
                    Lấy Url ủy quyền gửi chủ shop
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="code_after_authority_lazada" class="config-max-width margin-vertical"
                       title="code có được sau khi chủ shop uy quyền, trả về trong url callback" />
                <button type="button" onclick="LazadaGetAccessTokenFromCodeForFirst()"
                        title="Sau khi chủ shop uy quyền, ta lấy được access, refresh token lần đầu và lưu vào db">
                    Get Access Token From Code For First
                </button>
            </div>

            <div class="flpzni5136">
                <button type="button" onclick="LazadaRefreshAccessToken()"
                        title="Làm mới access token từ refresh token">
                    Refresh Access Token
                </button>
            </div>

        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        function CopyShopeeProductImageToProduct() {

        }

        async function ShopeeSaveImageSourceOfItemAndModel() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/ShopeeSaveImageSourceOfItemAndModel";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Lấy ảnh thành công", "Lấy ảnh có lỗi");
        }

        async function ShopeeGetBrandList() {
            let categoryId = 0;
            try {
                categoryId = BigInt(document.getElementById("shopee_something_input").value);
            } catch (e) {
                categoryId = 0;
            }
            if (categoryId == 0) {
                CreateMustClickOkModal("Id Thể loại không đúng", null);
                document.getElementById("shopee_something_input").focus();
                return;
            }

            const searchParams = new URLSearchParams();
            searchParams.append("categoryId", categoryId);
            let query = "/Dev/ShopeeGetBrandList";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function ShopeeGetChannelList() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/ShopeeGetChannelList";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function LazadaUpdateQuantityAll() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/LazadaUpdateQuantityAll";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function LazadaUpdatePrice_SalePriceAll() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/LazadaUpdatePrice_SalePriceAll";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function LazadaGetCategoryTree() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/LazadaGetCategoryTree";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        
        async function LazadaGetCategoryAttributes() {
            let categoryId = 0;
            try {
                categoryId = BigInt(document.getElementById("lazada_something_input").value);
            } catch (e) {
                categoryId = 0;
            }
            if (categoryId == 0) {
                CreateMustClickOkModal("Id Thể loại không đúng", null);
                document.getElementById("lazada_something_input").focus();
                return;
            }

            const searchParams = new URLSearchParams();
            searchParams.append("categoryId", categoryId);
            let query = "/Dev/LazadaGetCategoryAttributes";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function LazadaGetBrandByPages() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/LazadaGetBrandByPages";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function TikiSaveImageSourceOfItemAndModel() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/TikiSaveImageSourceOfItemAndModel";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Lấy ảnh thành công", "Lấy ảnh có lỗi");
        }

        // TikiTestPullEvent
        async function TikiTestPullEvent() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/TikiTestPullEvent";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }
        async function TikiTestSomething() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/TikiTestSomething";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công", "Có lỗi");
        }

        async function AddWaterMark() {
            //const searchParams = new URLSearchParams();
            //let query = "/Dev/AddWaterMarkAllExistImage";
            //ShowCircleLoader();
            //let responseDB = await RequestHttpPostPromise(searchParams, query);
            //RemoveCircleLoader();
            //let result = JSON.parse(responseDB.responseText);

            //if (result.State != 0) {
            //    await CreateMustClickOkModal(result.Message)
            //    return;
            //}
            //alert("Thêm logo voi bé nhỏ thành công.");
        }

        async function DeleteDuplicateDataOftbShopeeModel() {
            //const searchParams = new URLSearchParams();
            //let query = "/Dev/DeleteDuplicateDataOftbShopeeModel";
            //ShowCircleLoader();
            //let responseDB = await RequestHttpPostPromise(searchParams, query);
            //RemoveCircleLoader();
            //let result = JSON.parse(responseDB.responseText);

            //if (result.State != 0) {
            //    await CreateMustClickOkModal(result.Message)
            //    return;
            //}
            //alert("Thêm logo voi bé nhỏ thành công.");
        }

        async function ShopeeGetAuthorizationURL() {
            const searchParams = new URLSearchParams();
            let query = "/Dev/ShopeeGetAuthorizationURL";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();
            let result = JSON.parse(responseDB.responseText);

            if (result.State != 0) {
                CreateMustClickOkModal(result.Message)
                return;
            }
            else {
                document.getElementById("authorization_url").value = result.Message;
            }
        }

        async function ShopeeSaveLivePartnerKey() {
            let livePartnerKey = document.getElementById("live_partner_key").value;
            if (CheckIsEmptyOrSpacesAndShowResult(livePartnerKey, "key không hợp lệ.")) {
                document.getElementById("live_partner_key").focus();
                return;
            }
            const searchParams = new URLSearchParams();
            searchParams.append("key", livePartnerKey);
            let query = "/Dev/ShopeeSaveLivePartnerKey";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Cập nhật thành công.", "Có lỗi xảy ra.");
        }

        async function ShopeeSaveCode() {
            let livePartnerKey = document.getElementById("code").value;
            if (CheckIsEmptyOrSpacesAndShowResult(livePartnerKey, "code không hợp lệ.")) {
                document.getElementById("code").focus();
                return;
            }
            const searchParams = new URLSearchParams();
            searchParams.append("code", livePartnerKey);
            let query = "/Dev/ShopeeSaveCode";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Cập nhật thành công.", "Có lỗi xảy ra.");
        }

        async function ShopeeGetTokenShopLevelAfterAuthorization() {
            let text = "Bạn vừa được chủ shop ủy quyền?";
            if (confirm(text) == false)
                return;

            const searchParams = new URLSearchParams();
            let query = "/Dev/ShopeeGetTokenShopLevelAfterAuthorization";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công.", "Có lỗi xảy ra.");
        }

        function LazadaGenerateAuthorityUrl() {
            let urlAuth = "https://auth.lazada.com/oauth/authorize?response_type=code&force_auth=true&redirect_uri=https://vnexpress.net/&client_id=133247";
            document.getElementById("generate_authority_url_lazada").value = urlAuth;
        }

        async function LazadaGetAccessTokenFromCodeForFirst() {
            let text = "Bạn vừa được chủ shop ủy quyền?";
            if (confirm(text) == false)
                return;

            let code = document.getElementById("code_after_authority_lazada").value;
            if (CheckIsEmptyOrSpacesAndShowResult(code, "code không hợp lệ.")) {
                document.getElementById("code_after_authority_lazada").focus();
                return;
            }

            const searchParams = new URLSearchParams();
            searchParams.append("code", code);
            let query = "/Dev/LazadaGetAccessTokenFromCodeForFirst";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công.", "Có lỗi xảy ra.");
        }

        async function LazadaRefreshAccessToken() {

            const searchParams = new URLSearchParams();
            let query = "/Dev/LazadaRefreshAccessToken";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công.", "Có lỗi xảy ra.");
        }
    </script>
</body>
</html>
