
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div>
        <img src="~/Media/favico.png">
        <img src="~/Media/mainPageIcon.png">
    </div>
</body>
</html>
