@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/Dev/Index.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sản phẩm trong kho</div>
            <button type="button" onclick="CopyShopeeProductImageToProduct()"
                    title="Sản phẩm trong kho chưa có ảnh, video.
                    Copy ảnh sản phẩm trên sàn Shopee tới sản phẩm trong kho">
                Chép Ảnh Từ Shopee Tới Sản Phẩm Trong Kho
            </button>

            <button type="button" onclick="AddWaterMark()" disabled
                    title="Thêm waterMark logo voi bé nhỏ vào giữa ảnh cho tất cả anh trong thư mục.
                    Cân nhắc khi dùng hàm này">
                Thêm Water mark logo voi bé nhỏ tất cả ảnh
            </button>

            <button type="button" onclick="DeleteDuplicateDataOftbShopeeModel()" disabled
                    title="Xóa dữ liệu trùng lặp ở bảng tbShopeeModel.
                    Nhiều dữ liệu của sản phẩm có TMDTShopeeModelId = -1 đang bị trùng lặp
                    Cân Nhắc khi dùng hàm này">
                Xóa dữ liệu trùng lặp ở bảng tbShopeeModel
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> SHOPEE</div>
            <div class="gmxk9381">
                <input type="text" id="shopee_something_input"
                       class="config-max-width margin-vertical"
                       placeholder="Nhập thông tin gì đó phục vụ các hàm. VD: id thể loại,..." />
            </div>
            <button type="button" onclick="ShopeeSaveImageSourceOfItemAndModel()" disabled
                    title="Lấy url ảnh đại diện của item, model shopee cập nhật vào db đối với item, model chưa có image url.">
                Lấy URL ảnh Item, model lưu vào db
            </button>

            <button type="button" onclick="ShopeeGetBrandList()"
                    title="Lấy danh sách thương hiệu trạng thái bình thường theo id thể loại.">
                Lấy danh sách thương hiệu
            </button>

            <button type="button" onclick="ShopeeGetChannelList()"
                    title="Lấy danh sách kênh vận chuyển. Sẽ được lưu vào chương trình chứ không lưu db vì dữ liệu nhỏ, lấy nhanh">
                Lấy danh sách kênh vận chuyển
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> LAZADA</div>
            <div class="gmxk9381">
                <input type="text" id="lazada_something_input"
                       class="config-max-width margin-vertical"
                       placeholder="Nhập thông tin gì đó phục vụ các hàm. VD: id thể loại,..." />
            </div>
            <button type="button" onclick="LazadaUpdateQuantityAll()" disabled
                    title="Cập nhật số lượng tất cả sản phẩm đang bật bán trên sàn.">
                Cập nhật giá tất cả bật bán
            </button>

            <button type="button" onclick="LazadaUpdatePrice_SpecialPriceAll()" disabled
                    title="Cập nhật giá bìa, giá bán cho tất cả sản phẩm đang bật bán.">
                Cập nhật giá bìa, giá bán tất cả bật bán
            </button>

            <button type="button" onclick="LazadaGetCategoryTree()"
                    title="Lấy danh sách thể loại tất cả. Lưu vào log.">
                Lấy danh sách thể lọai
            </button>

            <button type="button" onclick="LazadaGetCategoryAttributes()"
                    title="Lấy thuộc tính của thể loại từ id thể loại. Lưu vào log.">
                Lấy thuộc tính của thể loại
            </button>

            <button type="button" onclick="LazadaGetBrandByPages()" disabled
                    title="NOTE:MẤT THỜI GIAN.
                    Lấy thương hiệu của tất cả thể loại. Lưu vào DB.
                    Vì không kiểm tra tồn tại trong DB nên cần xóa dữ liệu cũ, reset cột Id">
                Lấy thương hiệu tất cả thể loại
            </button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381">
                <textarea id="tiki_something_input"
                          class="config-max-width"
                          placeholder="Nhập thông tin gì đó phục vụ các hàm. VD: id thể loại,..."
                          rows="20">
                </textarea>
            </div>
            <div class="gmxk9381"> TIKI</div>
            <button type="button" onclick="TikiSaveImageSourceOfItemAndModel()" disabled
                    title="Lấy url ảnh đại diện của item tiki cập nhật vào db đối với item chưa có image url.">
                Lấy URL ảnh Item lưu vào db
            </button>

            <button type="button" onclick="TikiTestPullEvent()"
                    title="Test chức năng lấy event đơn hàng từ queue đã đang ký." disabled>
                Test lấy event đơn hàng
            </button>

            <button type="button" onclick="TikiTestSomething()"
                    title="Test chức năng nào đó.">
                Test chức năng nào đó
            </button>
            <button type="button" onclick="TikiTestSomethingWithParameter()"
                    title="Test chức năng nào đó với tham số text.">
                Test chức năng nào đó với tham số
            </button>

            <button type="button" onclick="TikiChangeQuantityWhenSetupOtherWarehouse()"
                    title="Khi mở địa chỉ kho mới, tắt kho cũ, tồn kho sản phẩm trên sàn về 0. Ta cần cập nhật số lượng.">
                Cập nhật tồn kho toàn bộ khi chuyển kho
            </button>
        </div>

        <div class="xvsfx02xv">
            <div class="gmxk9381"> Ủy quyền SHOPEE</div>
            <div class="flpzni5136">
                <input type="text" id="live_partner_key" class="config-max-width margin-vertical"
                       title="Bước 1: Dán Live Partner Key của shop, lấy từ open shopee platform ->console -> App List ->PlayWithMe -> Edit -> Click Reset Live API Partner Key.
                       Chỉ thay đổi khi làm mới Live Partner Key. Sau đó click button bên dưới để lưu vào DB" />
                <button type="button" onclick="ShopeeSaveLivePartnerKey()"
                        title="Cập nhật Live Partner Key từ input Bước 1">
                    Bước 1: Cập Nhật Live Partner Key
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="authorization_url" class="config-max-width margin-vertical"
                       title="Bước 2: Click button bên dưới để sinh URL gửi chủ shop, url sẽ hiển thị ở đây" />
                <button type="button" onclick="ShopeeGetAuthorizationURL()"
                        title="Lấy được url gửi chủ shop, chủ shop vào url xác thực ủy quyền phần mềm. Hiển thị ở input ngay trên">
                    Bước 2: Sinh URL Ủy Quyền
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="code" class="config-max-width margin-vertical"
                       title="Bước 3: Dán Code của shop nhận được sau khi chủ shop ủy quyền (chỉ thay đổi khi làm mới ủy quyền).
                       Sau đó click button bên dưới để lưu DB" />
                <button type="button" onclick="ShopeeSaveCode()"
                        title="Cập nhật code">
                    Bước 3: Cập Nhật Code
                </button>
            </div>

            <button type="button" onclick="ShopeeGetTokenShopLevelAfterAuthorization()"
                    title="Bước 4: DB đã có live partner key, code từ các bước trên.
                    Lấy và lưu refresh, access token vào DB.">
                Bước 4: Lấy Và Lưu Refresh Access
            </button>

        </div>

        <div class="nsklnksjn">
            <div class="gmxk9381"> Lấy URL Ủy quyền LAZADA</div>
            <div class="flpzni5136">
                <input type="text" id="generate_authority_url_lazada" class="config-max-width margin-vertical"
                       title="Hiển thị đường dẫn gửi chủ shop ủy quyền cho phần mềm" />
                <button type="button" onclick="LazadaGenerateAuthorityUrl()"
                        title="Lấy được đường dẫn gửi chủ shop ủy quyền cho phần mềm">
                    Lấy Url ủy quyền gửi chủ shop
                </button>
            </div>

            <div class="flpzni5136">
                <input type="text" id="code_after_authority_lazada" class="config-max-width margin-vertical"
                       title="copy code có được sau khi chủ shop uy quyền, trả về trong url callback dán vào input này" />
                <button type="button" onclick="LazadaGetAccessTokenFromCodeForFirst()"
                        title="Từ code ở input trên, ta lấy được access, refresh token lần đầu và lưu vào db">
                    Get Access Token From Code For First
                </button>
            </div>

            <div class="flpzni5136">
                <button type="button" onclick="LazadaRefreshAccessToken()"
                        title="Làm mới access token từ refresh token">
                    Refresh Access Token
                </button>
            </div>

            <div class="fmx09gx8">
                <div class="gmxk9381"> Sinh / cập nhật sitemap.xml</div>
                <button type="button" onclick="GenerateSitemap()"
                        title="Sinh file sitemap.xml tĩnh từ danh sách sản phẩm trong DB">
                    Sinh / Cập Nhật sitemap.xml
                </button>
            </div>
        </div>

    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Dev/Index.js?v=20260610"></script>
</body>
</html>
