<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        <div style=" width: 100%; background-color: white; ">
            <h3 style="margin-bottom:2px;">Nghĩa vụ các bên trong mỗi giao dịch</h3>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>I.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><span style="color:#384158">NGH</span></strong><strong><span style="color:#384158">Ĩ</span></strong><strong><span style="color:#384158">A V</span></strong><strong><span style="color:#384158">Ụ</span></strong><strong><span style="color:#384158"> CỦA BÊN BÁN HÀNG</span></strong></span></span></p>

            <ul>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Chốt đơn đúng sản phẩm, gói hàng đảm bảo chất lượng và an toàn.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Hỗ trợ, tạo điều kiện hết mức có thể</span> <span style="color:#384158">để khách hàng biết đến nhiều sản phẩm, mua và nhận được hàng sớm nhất có thể trong mỗi giao dịch.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Theo dõi đơn hàng, có trách nhiệm khi đơn hàng giao không thành công. Trường hợp này nên liên hệ sớm với khách để kịp giao hàng đúng hẹn cho khách hàng.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Có trách nhiệm xử lý đơn hàng bán ra của mình về những trường hợp ngoài ý muốn xảy ra.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Tư vấn, hướng dẫn tất cả các thông tin cụ thể liên quan đến sản phẩm/dịch vụ</span> <span style="color:#384158">để khách hàng hiểu và có thể sử dụng.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Cung cấp sản phẩm/hàng hóa cho khách hàng đúng thời hạn và số lượng đã thỏa thuận sau khi khách hàng đã thanh toán đầy đủ.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Giải quyết các thắc mắc và những khó khăn trong quá trình sử dụng sản phẩm.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Cung cấp các chứng từ, giấy tờ liên quan tới việc khách hàng thanh toán cho Công ty như hóa đơn, phiếu mua hàng, phiếu thu… với tổng số tiền mà khách hàng đã đặt trong tháng yêu cầu.</span></span></span></li>
            </ul>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">II.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NGHĨA V</span></strong><strong><span style="color:#384158">Ụ</span></strong><strong><span style="color:#384158"> CỦA KHÁCH HÀNG</span></strong></span></span></p>

            <ul>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Thực hiện đúng các quy định, quy trình liên quan tới dịch vụ do bên bán quy định.</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Thanh toán đầy đủ cho bên bán số tiền theo đơn đặt hàng kèm theo các hóa đơn, chứng từ theo quy định (nếu có).</span></span></span></li>
                <li style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Hỗ trợ và cung cấp thông tin đầy đủ cho bên bán liên quan tới các giao dịch khi chúng tôi có yêu cầu.</span></span></span></li>
            </ul>

        </div>
        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
