        .pro-eecomerce-mapping-container {
            margin-left: 50px;
        }
        .item-image-ACvv {
            width: 150px;
            height: 150px;
            border-radius: 3px 4px;
        }
        .one-item-container {
            display: flex;
            padding: 10px;
            align-items: center;
        }
        .fcpaxm09zf {
            margin: 5px 5px 5px 20px;
        }
    </style>
