@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css?v=20260610">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Customer/AccountInfor.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="account-infor-container">
            <div class="account-header-container">
                <h1 class="SbCTde">Hồ sơ của tôi</h1>
            </div>
            <div class="account-profile-container">
                <table>
                    <tr>
                        <td class="espR83">
                            <label>Tên đăng nhập</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div>
                                <div class="uxYEXm"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label>Tên</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div class="W50dp5">
                                <input type="text" placeholder="" class="CMyrTJ full-name" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label>Email</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div class="W50dp5">
                                <input type="text" placeholder="" class="CMyrTJ mail" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label>Số điện thoại</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div class="W50dp5">
                                <input type="text" placeholder="" class="CMyrTJ phone" value="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label>Giới tính</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div class="s4eg4A">
                                <div class="radio-sex-div">
                                    <input type="radio" id="men-sex" value="1" name="sex" class="radio-sex">
                                    <label for="men-sex">Nam</label>
                                </div>
                                <div class="radio-sex-div">
                                    <input type="radio" id="women-sex" value="2" name="sex" class="radio-sex">
                                    <label for="women-sex">Nữ</label>
                                </div>
                                <div class="radio-sex-div">
                                    <input type="radio" id="other-sex" value="3" name="sex" class="radio-sex">
                                    <label for="other-sex">Khác</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label>Ngày sinh</label>
                        </td>
                        <td class="Tmj5Z6">
                            <div>
                                <input type="date" class="birthday-time">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="espR83">
                            <label />
                        </td>
                        <td class="Tmj5Z6">
                            <button type="button" class="profile-save" onclick="SaveProfile()">Lưu</button>
                            <button type="button" class="profile-save" onclick="ShowChangePasswordModal()">Thay Đổi Mật Khẩu</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="account-header-container">
                <div class="SbCTde">Địa chỉ của tôi</div>
                <div class="lpxAGdgh">
                    <button type="button" class="create-address" onclick="ShowCustomerInforModal(true, false, null)">
                        <svg viewBox="0 0 10 10" class="mblfAtcf">
                            <path stroke="none" d="m10 4.5h-4.5v-4.5h-1v4.5h-4.5v1h4.5v4.5h1v-4.5h4.5z"></path>
                        </svg>
                        Thêm Địa Chỉ Mới
                    </button>
                </div>
            </div>
            <div class="account-address-container">
                <div class="sample-address-container">
                    <div class="address">
                        <div class="name-phone">
                            <span class="name"> Hoàng Huệ</span>
                            <span class="phone"> 0359127226</span>
                        </div>
                        <div>
                            <div class="detail">Số 24 , Ngõ Việt Hà 2, khu tập thể Việt Hà, tổ dân phố Phú Minh</div>
                            <div class="province-district-subdistrict">Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Hà Nội</div>
                        </div>
                        <div>
                            <span class="default-address">Mặc định</span>
                        </div>
                    </div>
                    <div class="klhkjcvf">
                        <div class="htlhtxbv">
                            <button type="button" onclick="UpdateCustomerAddress(this)">Cập Nhật</button>
                            <button type="button" onclick="DeleteCustomerAddress(this)">Xóa</button>
                        </div>
                        <button type="button" class="mgW0lg" disabled onclick="SetDefault(this)">Thiết lập mặc định</button>
                    </div>
                </div>
                <div class="list-address-container">

                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/Home/CustomerInfor.cshtml")
        @Html.Partial("~/Views/Shared/ChangePasswordModal.cshtml")

        @*@Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")*@
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.customer.infor.cookie.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.address.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Customer/AccountInfor.js?v=20260610"></script>
</body>
</html>
