@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css">
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="register-container">
            <form>
                <label for="userName">Tài khoản:</label><br>
                <div class="H56xjDa767">
                    <input type="text" id="userName" value="">
                </div>

                <label for="passWord">Mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="passWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>

                <label for="repassWord">Nhập lại mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="repassWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>
            </form>
            <div class="kcbuc0986">
                <a class="faf08xvj" href="/Customer/Login"> Đăng Nhập</a>
                <button class="anh8s9nfja" type="button" onclick="CreateCustomer_Add()">Tạo Tài Khoản</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        async function CreateCustomer_Add() {

            let userName = document.getElementById("userName").value;
            let passWord = document.getElementById("passWord").value;
            let repassWord = document.getElementById("repassWord").value;

            if (isEmptyOrSpaces(userName)
                || isEmptyOrSpaces(passWord)
                || isEmptyOrSpaces(repassWord)) {
                await CreateMustClickOkModal("Vui lòng không để trống thông tin tài khoản, mật khẩu.", null);
                return;
            }
            // Kiểm tra password và repassword hợp lệ
            {
                const obj = JSON.parse(CheckPassWordValid(passWord, repassWord));
                if (obj.isValid === false) {
                    await CreateMustClickOkModal(obj.message, null);
                    return;
                }
            }

            const searchParams = new URLSearchParams();
            searchParams.append("userName", userName);
            searchParams.append("passWord", passWord);

            let url = "/Customer/CreateCustomer_Add";

            try {
                // Cập nhật vào db
                ShowCircleLoader();
                let responseDB = await RequestHttpPostPromise(searchParams, url);
                RemoveCircleLoader();
                let isOk = CheckStatusResponseAndShowPrompt(responseDB.responseText, "Tạo tài khoản thành công.", "Tạo tài khoản thất bại.");
                if (isOk) {
                    window.location.replace("/Customer/Login");
                }
            }
            catch (error) {
                CreateMustClickOkModal("Tạo tài khoản thất bại.", null);
                return;
            }
        }
    </script>
</body>
</html>
