@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="register-container">
            <form>
                <label for="userName">Tài khoản:</label><br>
                <div class="H56xjDa767">
                    <input type="text" id="userName" value="">
                </div>

                <label for="passWord">Mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="passWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>

                <label for="repassWord">Nhập lại mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="repassWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>
            </form>
            <div class="kcbuc0986">
                <a class="faf08xvj" href="/Customer/Login"> Đăng Nhập</a>
                <button class="anh8s9nfja" type="button" onclick="CreateCustomer_Add()">Tạo Tài Khoản</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Customer/CreateCustomer.js?v=20260610"></script>
</body>
</html>
