@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css">
</head>
<body>
    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="register-container">
            <form>
                <label for="userName">Tài khoản:</label><br>
                <div class="H56xjDa767">
                    <input type="text" id="userName" value="">
                </div>

                <label for="passWord">Mật khẩu:</label><br>
                <div class="H56xjDa767">
                    <input type="password" id="passWord" value="">
                    @Html.Partial("~/Views/Shared/OpenCloseEye.cshtml")
                </div>

            </form>
            <div class="kcbuc0986">
                <a class="faf08xvj" href="/Customer/CreateCustomer">Tạo Tài Khoản</a>
                <button class="anh8s9nfja" type="button" onclick="Login_Login()">Đăng Nhập</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js"></script>
    @*<script src="~/Scripts/web.play.with.me.customer.infor.cookie.js"></script>*@
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        async function Login_Login() {
            let userName = document.getElementById("userName").value;
            if (isEmptyOrSpaces(userName)) {
                await CreateMustClickOkModal("Nhập tài khoản.", null);
                userName.focus();
                return;
            }

            let passWord = document.getElementById("passWord").value;
            if (isEmptyOrSpaces(passWord)) {
                await CreateMustClickOkModal("Nhập mật khẩu.", null);
                passWord.focus();
                return;
            }
            const searchParams = new URLSearchParams();
            searchParams.append("userName", userName);
            searchParams.append("passWord", passWord);

            let query = "/Customer/Login_Login";

            ShowCircleLoader();
            let res = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            let resObj = JSON.parse(res.responseText);

            if (resObj.State != 0) {
                await CreateMustClickOkModal(resObj.Message, null);

                return;
            }
            //// Xóa cart cookie bên javascript
            //DeleteAllCartCookie();
            //// Xóa customer info cookie bên javascript
            //DeleteAllCustomerInforCookie();

            //if (window.history.length > 2) {
            //    // Quay về trang trước đó
            //    alert("pasueeee");
            //    window.history.back();
            //    // Refresh lại page với thông tin đã đăng nhập
            //    window.location.reload();
            //}
            //else {
            //    window.location.href = "/Home";
            //}

            window.location.href = "/Home";
        }

        function GoToCreateCustormerPage() {
            window.location.href = "/Customer/CreateCustomer";
        }
    </script>
</body>
</html>
