@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        .login-container {
            width: 100%;
            max-width: 500px;
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid rgba(0,0,0,0.4);
            border-radius: 2px;
        }

            .login-container input {
                width: 100%;
            }

            .login-container button {
                align-items: center;
                display: flex;
                justify-content: center;
                outline: none;
                padding: 10px;
                border: 0;
                background: none;
                border-radius: 2px;
                min-width: 140px;
                font-size: 14px;
                cursor: pointer;
                color: #fff;
                background-color: #ee4d2d;
                margin: 0px 20px 0px 20px;
            }

        .fxvdf098 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div class="login-container">
            <form>
                <label for="userName">Số điện thoại:</label><br>
                <input type="text" id="userName" value=""><br><br>

                <label for="passWord">Mật khẩu:</label><br>
                <input type="password" id="passWord" value=""><br><br>
            </form>
            <div class="fxvdf098">
                <button type="button" onclick="Login_Login()">Đăng Nhập</button>

                <button type="button" onclick="GoToCreateCustormerPage()">Tạo Tài Khoản</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.customer.infor.cookie.js"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js"></script>
    <script>
        async function Login_Login( ) {
            let userName = document.getElementById("userName").value;
            if (isEmptyOrSpaces(userName)) {
                CreateMustClickOkModal("Nhập tài khoản.", null);
            }

            let passWord = document.getElementById("passWord").value;
            if (isEmptyOrSpaces(passWord)) {
                CreateMustClickOkModal("Nhập mật khẩu.", null);
            }
            const searchParams = new URLSearchParams();
            searchParams.append("userName", userName);
            searchParams.append("passWord", passWord);

            let cookie = GetCookie(customerInforKey);
            searchParams.append("customerInforCookie", cookie);

            let query = "/Customer/Login_Login";

            ShowCircleLoader();
            let res = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            let resObj = JSON.parse(res.responseText);

            if (resObj.State != 0) {
                CreateMustClickOkModal(resObj.Message, null);
                //// Xóa cookie ở web, ở thiết bị khác không được xóa
                //DeleteCookie(uidKey);
                return;
            }
            //// Xóa cart cookie bên javascript
            //DeleteAllCartCookie();
            //// Xóa customer info cookie bên javascript
            //DeleteAllCustomerInforCookie();

            //if (window.history.length > 2) {
            //    // Quay về trang trước đó
            //    alert("pasueeee");
            //    window.history.back();
            //    // Refresh lại page với thông tin đã đăng nhập
            //    window.location.reload();
            //}
            //else {
            //    window.location.href = "/Home";
            //}

            window.location.href = "/Home";
        }

        function GoToCreateCustormerPage() {
            window.location.href = "/Customer/CreateCustomer";
        }
    </script>
</body>
</html>
