@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/Customer/Order.css?v=20260610">
</head>
<body onload="GetOrder()">

    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        <div>
            <div id="search_order_for_anonymous" style="display:none;">
                <div id="note_anonymous">
                    Không đăng nhập bạn là khách vãng lai, bạn có thể tìm kiếm đơn hàng theo tên hoặc số điện thoại người nhận.
                    Tất nhiên người khác cũng có thể thấy thông tin đơn hàng vãng lai của bạn.
                    Danh sách đơn hàng ban đầu bạn thấy được lưu trên trình duyệt của bạn
                </div>
                <div id="xvbxw3636">
                    <input id="input_sdt_name_for_search" type="text" value="" title="Nhập tên hoặc vài số cuối SĐT người nhận"
                           placeholder="Nhập tên hoặc vài số cuối SĐT người nhận" />
                    <button onclick="SearchOrderForAnonymous()">Tìm Kiếm</button>
                </div>
            </div>
            <div class="status-container">
                <button type="button" class="nvsflAB87" data-status="10" onclick="ShowResult(this);">Tất cả</button>
                <button type="button" class="nvsflAB87" data-status="0" onclick="ShowResult(this);">Chờ thanh toán</button>
                <button type="button" class="nvsflAB87" data-status="1" onclick="ShowResult(this);">Chuẩn bị hàng</button>
                <button type="button" class="nvsflAB87" data-status="2" onclick="ShowResult(this);">Chờ giao ĐVVC</button>
                <button type="button" class="nvsflAB87" data-status="4" onclick="ShowResult(this);">Chờ giao khách</button>
                <button type="button" class="nvsflAB87" data-status="9" onclick="ShowResult(this);">Hoàn thành</button>
                <button type="button" class="nvsflAB87" data-status="7" onclick="ShowResult(this);">Đã hủy</button>
                <button type="button" class="nvsflAB87" data-status="8" onclick="ShowResult(this);">Trả hàng/Hoàn tiền</button>
            </div>
            <div class="sample-address-container">
                <div class="address-date">09/24/2024</div>
                <div class="address-name-phone">Huệ hoàng (+84) 383519872</div>
                <div class="address-address">Số 24 , Ngõ Việt Hà 2, khu tập thể Việt Hà, tổ dân phố Phú Minh, Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Hà Nội</div>
            </div>
            <div class="sample-item-container">
                <img class="model-icon" src="~/Media/searchIcon.png" />
                <div class="name-quantity">
                    <div class="ffZM87hf">(Tặng xe đẩy hoặc bàn nhạc) Tã quần/dán Huggies Siêu Cao Cấp Platinum Nature Made M58/L44/XL38/XXL26 NB60/S82/M64/L54/XL</div>
                    <div class="ffZM87hf">Tên Phân Loại</div>
                    <div class="ffZM87hf">x2</div>
                </div>
                <div class="item-money">
                    <div>
                        <span class="j2En5csA">đ280000</span>
                        <span class="ndAKDn90">đ280000</span>
                    </div>
                </div>
            </div>
            <div class="sample-payment">
                <div class="money-title">Tổng tiền hàng</div>
                <div class="money-padding"><sup>₫</sup>156,000</div>
            </div>
            <div class="sample-order">
                <div class="order-header">
                    <div class="fxASnxvd">Hoàn Thành</div>
                </div>
                <div class="order-address-container">

                </div>
                <div class="order-item-container">

                </div>
                <div class="payment-infor-container">

                </div>
            </div>

            <div class="result-container">
                <div class="result-content-container">

                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.cart.cookie.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Customer/Order.js?v=20260610"></script>
</body>
</html>
