@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        input {
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/biggestContainer_Top.cshtml")
        @*<form>
                <label for="userName">Số điện thoại/Email/Tên đăng nhập:</label><br>
                <input type="text" id="userName" value=""><br><br>

                <label for="passWord">Mật khẩu:</label><br>
                <input type="password" id="passWord" value=""><br><br>
            </form>
            <div>
                <button type="button" onclick="Login_Login()">Đăng nhập</button>
            </div>*@

        <p>Cập nhật thông tin khách hàng.</p>
        <div>
            <button type="button" onclick="Logout()">Đăng xuất</button>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
