
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
</head>
<body>

    <div id="biggestContainer">
        <form>
            <label for="publisherName">Tên nhà phát hành:</label><br>
            <input type="text" id="publisherName" value=""><br>
            <label for="detail">Thông tin chi tiết thêm:</label><br>
            <textarea id="detail" rows="10"></textarea>
        </form>

        <div>
            <button type="button" onclick="loadDoc()">Thêm mới nhà phát hành</button>
        </div>

        <div>
            <button type="button" onclick="loadPublishers()"> Danh sách nhà phát hành</button>
        </div>
        <table id="publisher-table"></table>

        <script>
            function loadDoc() {
                let publisherName = document.getElementById("publisherName").value;
                if (isEmptyOrSpaces(publisherName)) {
                    console.log("Tên nhà phát hành đang trống string null!");
                    return;
                }
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        GetJsonResponse(this.responseText);
                    }
                }
                let query = "/Administrator/AddNewPublisher?name=";
                query = query + publisherName;
                query = query + "&detail=";
                let detail = document.getElementById("detail").value;
                query = query + detail;
                xhttp.open("GET", query);
                xhttp.send();
            }

            // lấy danh sách nhà phát hành
            function loadPublishers() {
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("publisher-table").innerHTML = this.responseText;
                    }
                }
                let query = "/Administrator/LoadPublisher";
                xhttp.open("GET", query);
                xhttp.send();
            }
        </script>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
</body>
</html>
