@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }
        .gmxk9381 {
            margin: 10px 5px 10px 5px;
            width:100%;
        }
        button {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }
        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: Verdana, sans-serif;
            line-height: 1.5;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }

        a:hover, a:active {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sàn Tiki, Shopee, Lazada</div>
            <a href="/ProductECommerce/Order" title="Đơn hàng trên web Play With Me và sàn Tiki, Shopee, Lazada"> Đơn Hàng</a>
            <a href="/ProductECommerce" title="Sản phẩm đăng bán trên sàn Tiki, Shopee, Lazada"> Sản Phẩm</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sản phẩm trong kho</div>
            <a href="/Product/Import"> Nhập Sách</a>
            <a href="/Product/NeedUpdateQuatity" title="Cập nhật tồn kho lên sàn Tiki, Shopee,Lazada">
            Cập Nhật Tồn Kho Lên Sàn</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Thêm người quản trị</div>
            <a href="/Administrator/New" title="Thêm mới người quản trị"> Tạo người quản trị</a>
            <button type="button" title="Đăng xuất tài khoản người quản trị" onclick="Logout()">Đăng xuất</button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> Dành cho lập trình viên</div>
            <a href="/Dev/Index" title="Dành cho lập trình viên"> Dev</a>
        </div>
    </div>
    <script>

        function Logout() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    GetJsonResponse(this.responseText);
                    window.location.href = "/Administrator/Login";
                }
            }

            let query = "/Administrator/Logout";
            xhttp.open("POST", query);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(/*searchParams.toString()*/);
        }
    </script>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
</body>
</html>
