@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css?v=20260610">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Administrator/Index.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sàn Tiki, Shopee, Lazada</div>
            <a href="/ProductECommerce/Order" title="Đơn hàng trên web Play With Me và sàn Tiki, Shopee, Lazada"> Đơn Hàng</a>
            <a href="/ProductECommerce/Index" title="Tìm kiếm sản phẩm đăng bán trên sàn Tiki, Shopee, Lazada"> Sản Phẩm</a>
            <a href="/ProductECommerce/ItemOnDB" title="Lấy itemid, modelid sản phẩm Shopee, Tiki, Lazada đã được lưu trên db."> Thông Tin Trên DB</a>
            <a href="/TikiDealDiscount/Index" title="Thông tin chương trình giảm giá sản phẩm Tiki"> Giảm Giá Sản Phẩm Tiki</a>
            <a href="/ProductECommerce/OrderStatistics"
               title="Thống kê số lượng sản phẩm đã bán, đã hủy">Thống Kê Đơn Hàng</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Web voibenho</div>
            <a href="/ItemModel/Create" title="Tạo sản phẩm mới trên web voibenho"> Tạo Sản Phẩm</a>
            <a href="/ItemModel/Search" title="Tìm kiếm sản phẩm trên voibenho"> Tìm Kiếm</a>

            <a href="/SanPham/Create" title="Tạo sản phẩm mới trên web voibenho version 2"> Tạo Sản Phẩm V2</a>
            <a href="/SanPham/Search" title="Tìm kiếm sản phẩm trên voibenho version 2"> Tìm Kiếm V2</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sản phẩm trong kho</div>
            <a href="/Product/Create" title="Tạo sản phẩm mới nếu trong kho chưa tồn tại"> Thêm Mới Sách</a>
            <a href="/Product/Import" title="Nhập sản phẩm đã có trong kho từ hóa đơn, chưa có kiểm tra số lượng thực tế"> Nhập Kho Từ Hóa Đơn</a>
            <a href="/Product/RecheckImport" title="Kiểm tra số lượng thực tế"> Kiểm Tra Nhập Kho</a>
            <a href="/Product/HintQuantityFromPublisher" title="Gợi ý số lượng sẽ lấy từ nhà phát hành"> Gợi Ý Nhập Hàng</a>
            <a href="/Product/Search" title="Tìm kiếm sản phẩm trong kho"> Tìm Kiếm</a>
            <a href="/Product/NeedUpdateQuatity" title="Cập nhật tồn kho lên sàn Tiki, Shopee,Lazada">
                Cập Nhật Tồn Kho Lên Sàn
            </a>
            <a href="/Product/SellingStatistics"
               title="Thống kê số lượng sản phẩm đã bán">Thống Kê Lượng Bán</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Combo, Nhà phát hành, Thể Loại</div>
            <a href="/Combo/Create"> Combo</a>
            <a href="/Publisher/Create">
                Nhà Phát Hành
            </a>
            <a href="/Category/Create"> Thể Loại</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Người quản trị</div>
            <a href="/Product/OrderManually" title="Tạo đơn hàng ngoài sàn và web voibenho"> Đơn Hàng</a>
            <a href="/Administrator/New" title="Thêm mới người quản trị"> Tạo người quản trị</a>
            <button class="fg90mxkn" type="button" title="Thay đổi mật khẩu người quản trị" onclick="ShowChangePasswordModal()">Thay Đổi Mật Khẩu</button>
            <button class="fg90mxkn" type="button" title="Đăng xuất tài khoản người quản trị" onclick="AdminLogout()">Đăng Xuất</button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> Dành cho lập trình viên</div>
            <a href="/Dev/Index" title="Dành cho lập trình viên"> Dev</a>
        </div>
        @Html.Partial("~/Views/Shared/ChangePasswordModal.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Administrator/Index.js?v=20260610"></script>
</body>
</html>
