@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.input.css">
    <style>
        .fmx09gx8 {
            background-color: white;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            border-radius: 2px;
            display: flex;
            flex-wrap: wrap;
        }

        .gmxk9381 {
            margin: 10px 5px 10px 5px;
            width: 100%;
        }

        .fg90mxkn {
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }

        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: Verdana, sans-serif;
            line-height: 1.5;
            margin: 10px 10px 10px 10px;
            border-radius: 5px;
        }

        a:hover, a:active {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="biggestContainer">
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sàn Tiki, Shopee, Lazada</div>
            <a href="/ProductECommerce/Order" title="Đơn hàng trên web Play With Me và sàn Tiki, Shopee, Lazada"> Đơn Hàng</a>
            <a href="/ProductECommerce/Index" title="Tìm kiếm sản phẩm đăng bán trên sàn Tiki, Shopee, Lazada"> Sản Phẩm</a>
            <a href="/ProductECommerce/ItemOnDB" title="Lấy itemid, modelid sản phẩm Shopee, Tiki, Lazada đã được lưu trên db."> Thông Tin Trên DB</a>
            <a href="/TikiDealDiscount/Index" title="Thông tin chương trình giảm giá sản phẩm Tiki"> Giảm Giá Sản Phẩm Tiki</a>
            <a href="/ProductECommerce/OrderStatistics"
               title="Thống kê số lượng sản phẩm đã bán, đã hủy">Thống Kê Đơn Hàng</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Web voibenho</div>
            <a href="/ItemModel/Create" title="Tạo sản phẩm mới trên web voibenho"> Tạo Sản Phẩm</a>
            <a href="/ItemModel/Search" title="Tìm kiếm sản phẩm trên voibenho"> Tìm Kiếm</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Sản phẩm trong kho</div>
            <a href="/Product/Create" title="Tạo sản phẩm mới nếu trong kho chưa tồn tại"> Thêm Mới Sách</a>
            <a href="/Product/Import" title="Nhập sản phẩm đã có trong kho từ hóa đơn, chưa có kiểm tra số lượng thực tế"> Nhập Kho Từ Hóa Đơn</a>
            <a href="/Product/RecheckImport" title="Kiểm tra số lượng thực tế"> Kiểm Tra Nhập Kho</a>
            <a href="/Product/HintQuantityFromPublisher" title="Gợi ý số lượng sẽ lấy từ nhà phát hành"> Gợi Ý Nhập Hàng</a>
            <a href="/Product/Search" title="Tìm kiếm sản phẩm trong kho"> Tìm Kiếm</a>
            <a href="/Product/NeedUpdateQuatity" title="Cập nhật tồn kho lên sàn Tiki, Shopee,Lazada">
                Cập Nhật Tồn Kho Lên Sàn
            </a>
            <a href="/Product/SellingStatistics"
               title="Thống kê số lượng sản phẩm đã bán">Thống Kê Lượng Bán</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Combo, Nhà phát hành, Thể Loại</div>
            <a href="/Combo/Create"> Combo</a>
            <a href="/Publisher/Create">
                Nhà Phát Hành
            </a>
            <a href="/Category/Create"> Thể Loại</a>
        </div>
        <div class="fmx09gx8">
            <div class="gmxk9381"> Người quản trị</div>
            <a href="/Product/OrderManually" title="Tạo đơn hàng ngoài sàn và web voibenho"> Đơn Hàng</a>
            <a href="/Administrator/New" title="Thêm mới người quản trị"> Tạo người quản trị</a>
            <button class="fg90mxkn" type="button" title="Thay đổi mật khẩu người quản trị" onclick="ShowChangePasswordModal()">Thay Đổi Mật Khẩu</button>
            <button class="fg90mxkn" type="button" title="Đăng xuất tài khoản người quản trị" onclick="AdminLogout()">Đăng Xuất</button>
        </div>

        <div class="fmx09gx8">
            <div class="gmxk9381"> Dành cho lập trình viên</div>
            <a href="/Dev/Index" title="Dành cho lập trình viên"> Dev</a>
        </div>
        @Html.Partial("~/Views/Shared/ChangePasswordModal.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        function AdminLogout() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.href = "/Administrator/Login";
                }
            }
            const searchParams = new URLSearchParams();
            let query = "/Administrator/Logout";
            xhttp.open("POST", query);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(searchParams.toString());
        }

        function ShowChangePasswordModal() {
            let ele = document.getElementById("modal-change-password");
            ele.style.display = "block";
            document.getElementById("old_password").value = "";
            document.getElementById("new_passWord").value = "";
            document.getElementById("re_new_passWord").value = "";

            let collection = document.getElementsByClassName("open_eye");
            for (let i = 0; i < collection.length; i++) {
                ShowCloseEye(collection[i]);
            }
        }

        function ReturnFromChangePasswordModal() {
            let ele = document.getElementById("modal-change-password");
            ele.style.display = "none";
        }

        async function FinishChangePassword() {
            if (document.getElementById("old_password").value.length == 0) {
                await CreateMustClickOkModal("Chưa nhập mật khẩu cũ.", null);
                document.getElementById("old_password").focus();
                return;
            }

            if (document.getElementById("new_passWord").value.length == 0) {
                await CreateMustClickOkModal("Chưa nhập mật khẩu mới.", null);
                document.getElementById("new_passWord").focus();
                return;
            }

            if (document.getElementById("re_new_passWord").value.length == 0) {
                await CreateMustClickOkModal("Chưa nhập lại mật khẩu mới.", null);
                document.getElementById("re_new_passWord").focus();
                return;
            }

            if (document.getElementById("new_passWord").value !== document.getElementById("re_new_passWord").value) {
                await CreateMustClickOkModal("Nhập lại mật khẩu chưa chính xác.", null);
                document.getElementById("re_new_passWord").focus();
                return;
            }

            const searchParams = new URLSearchParams();
            searchParams.append("oldPassWord", document.getElementById("old_password").value);
            searchParams.append("newPassWord", document.getElementById("new_passWord").value);
            searchParams.append("renewPassWord", document.getElementById("re_new_passWord").value);

            let url = "/Administrator/ChangePassword";

            try {
                // Cập nhật vào db
                ShowCircleLoader();
                let responseDB = await RequestHttpPostPromise(searchParams, url);
                RemoveCircleLoader();
                let isOk = CheckStatusResponseAndShowPrompt(responseDB.responseText, "Cập nhật thành công.", "Cập nhật thất bại.");
                if (isOk) {
                    ReturnFromChangePasswordModal();
                }
            }
            catch (error) {
                CreateMustClickOkModal("Cập nhật lỗi.", null);
                return;
            }
        }
    </script>
</body>
</html>
