@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>

    <div id="biggestContainer">
        <form>
            <label for="userName">Số điện thoại/Email/Tên đăng nhập:</label><br>
            <input class="config-max-width" type="text" id="userName" value=""><br><br>

            <label for="passWord">Mật khẩu:</label><br>
            <input class="config-max-width" type="password" id="passWord" value=""><br><br>
        </form>
        <div>
            <button type="button" onclick="Login_Login()">Đăng nhập</button>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Administrator/Login.js?v=20260610"></script>
</body>
</html>
