@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        input {
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="biggestContainer">
        <form>
            <label for="userName">Số điện thoại/Email/Tên đăng nhập:</label><br>
            <input type="text" id="userName" value=""><br><br>

            <label for="passWord">Mật khẩu:</label><br>
            <input type="password" id="passWord" value=""><br><br>
        </form>
        <div>
            <button type="button" onclick="Login_Login()">Đăng nhập</button>
        </div>

        <script>
            async function Login_Login() {

                const searchParams = new URLSearchParams();
                let userName = document.getElementById("userName").value;

                searchParams.append("userName", userName);

                let passWord = document.getElementById("passWord").value;

                searchParams.append("passWord", passWord);

                let query = "/Administrator/Login_Login";

                let res = await RequestHttpPostPromise(searchParams, query);
                let resObj = JSON.parse(res.responseText);

                if (resObj.State != 0) {
                    await CreateMustClickOkModal(resObj.Message, null);
                    return;
                }

                //// Quay về trang trước đó
                //window.history.back();
                //// Refresh lại page với thông tin đã đăng nhập
                //window.location.reload();
                window.location.href = "/Administrator/Index";
            }
        </script>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
</body>
</html>
