@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <style>
        input {
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="biggestContainer">
        <form>
            <label for="userName">Số điện thoại/Email/Tên đăng nhập:</label><br>
            <input type="text" id="userName" value=""><br><br>

            <label for="passWord">Mật khẩu:</label><br>
            <input type="password" id="passWord" value=""><br><br>

            <label for="repassWord">Nhập lại mật khẩu:</label><br>
            <input type="password" id="repassWord" value=""><br><br>

            <label for="privilege">Nhập quyền</label><br />
            <select id="privilege">
                <option value="1">Full quyền</option>
                <option value="2">Thêm mới/cập nhật sản phẩm, nhà phát hành, tạo sản phẩm bán, set giá</option>
            </select><br><br>
        </form>
        <div>
            <button type="button" onclick="New_AddAdministrator()">Thêm người dùng</button>
        </div>

        <div>
            <a href="/Administrator/Login" target="_self">Đăng nhập</a>
        </div> <br />

        <script>
            function New_AddAdministrator() {
                //let responseId = 0;
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        GetJsonResponse(this.responseText);
                    }
                }

                const searchParams = new URLSearchParams();
                let userNameType = 0;//1: email, 2: SDT, 3: user name
                let userName = document.getElementById("userName").value;
                {
                    const obj = JSON.parse(CheckUserNameValid(userName));
                    if (obj.isValid === false) {
                        return;
                    }
                    if (obj.message === "Email") {
                        userNameType = "1";
                    }
                    else if (obj.message === "SDT") {
                        userNameType = "2";
                    }
                    else {
                        userNameType = "3";
                    }
                }
                searchParams.append("userName", userName);
                searchParams.append("userNameType", userNameType);

                let passWord = document.getElementById("passWord").value;
                let repassWord = document.getElementById("repassWord").value;
                {
                    const obj = JSON.parse(CheckPassWordValid(passWord, repassWord));

                    if (obj !== null) {
                        if (obj.isValid === false) {
                            return;
                        }
                    }
                }
                searchParams.append("passWord", passWord);

                let privilege = document.getElementById("privilege").value;
                searchParams.append("privilege", privilege);

                let query = "/Administrator/New_AddAdministrator";

                xhttp.open("POST", query);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(searchParams.toString());
            }
        </script>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
</body>
</html>
