@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/ProductECommerce/Index.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="e-product-filter">

            @Html.Partial("~/Views/Shared/ECommerceType.cshtml")

            <div class="display-flex-padding1020-flex-warap-wrap" title="Từ Id sản phẩm trên sàn Shopee, Tiki, Lazada đi đến trang liên kết sản phẩm trong kho">
                <label for="TMDT-product-id" style="margin-right:10px;">id sản phẩm trên sàn</label>
                <input type="number" id="TMDT-product-id" style="margin-right:10px;">
                <button type="button" onclick="GoProductEcomercePageItem()" style="margin-right:10px;">Đi Tới Trang Liên Kết</button>
            </div>

            <div class="display-flex-padding1020-flex-warap-wrap">
                <div class="fcnal986j" title="Trạng thái sản phẩm trên sàn thương mại điện tử.
                     Đang bật bán bình thường hoặc đăng tắt (shop dừng bán, shop đã xóa, sàn đã xóa, bị sàn khóa,...)">
                    <div class="lk09Jbvrd">
                        <input type="radio" id="nvnlFxjg" name="status-radio" value="On" @*checked*@ />
                        <label for="nvnlFxjg">Đang bật</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="nvnlFfesg" name="status-radio" value="Off" />
                        <label for="nvnlFfesg">Đang tắt</label>
                    </div>
                </div>

                <div class="fcnal986j" title="Liên kết sản phẩm trên sàn thương mại điện tử với sản phẩm trong kho">
                    <div class="lk09Jbvrd">
                        <input type="radio" id="cbstdhagzb" name="mapping-radio" value="On" />
                        <label for="cbstdhagzb">Đã liên kết</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="jfhsgsefzc" name="mapping-radio" value="Off" />
                        <label for="jfhsgsefzc">Chưa liên kết</label>
                    </div>
                </div>

                <div class="fcnal986j" title="Hết hàng trên sàn thương mại điện tử">
                    <div class="lk09Jbvrd">
                        <input type="radio" id="vxbdh567" name="out-of-stock-radio" value="On" @*checked*@ />
                        <label for="vxbdh567">Còn hàng</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="vxbdh879" name="out-of-stock-radio" value="Off" />
                        <label for="vxbdh879">Hết hàng</label>
                    </div>
                </div>

                <div id="avszg947scb" class="fcnal986j" title="Sản phẩm trên sàn SHOPEE được dùng để sinh sản phẩm trên web voibenho.
                     Hiển thị sản phẩm nào trên sàn SHOPEE đã/ chưa sinh sản phẩm trên voibenho">
                    <div class="lk09Jbvrd">
                        <input type="radio" id="vxbaadh567" name="shopee-born-voibenho" value="On" />
                        <label for="vxbaadh567">Đã sinh sản phẩm trên voibenho</label>
                    </div>
                    <div class="lk09Jbvrd">
                        <input type="radio" id="czfaegfsgbq534" name="shopee-born-voibenho" value="Off" />
                        <label for="czfaegfsgbq534">Chưa sinh sản phẩm trên voibenho</label>
                    </div>
                </div>
                @*<div class="fcnal986j" title="Nhà phát hành">
                <label for="publisher-id">Nhà phát hành</label>
                <input list="list-Publisher" id="publisher-id">
                <datalist id="list-Publisher">
                    @foreach (var pub in ViewData["lsPublisher"] as IList<MVCPlayWithMe.Models.Publisher>)
                    {
                        <option data-id=@pub.id data-detail="@pub.detail">@pub.name</option>
                    }
                </datalist>
            </div>*@

                <div class="fcnal986j" title="Tên sản phẩm">
                    <label for="product-name">Tên sản phẩm</label>
                    <input type="text" id="product-name">
                </div>
            </div>

            <div style="display: flex;">
                <button type="button" class="pwm-btn-common" onclick="Filter()"
                        title="Lấy tất cả sản phẩm trên sàn (mất thời gian), sau đó lọc theo các tiêu chí người dùng chọn bên trên.
                 Sẽ lưu sản phẩm mới, cập nhật trạng thái của sản phẩm đã tồn tại.">
                    <span class="pwm-btn-text-common">Lọc sản phẩm</span>
                </button>
                <button type="button" class="pwm-btn-common" onclick="GetNewItemOneMonth()"
                        title="Lấy những sản phẩm mới chưa được lưu cơ sở dữ liệu.
                        Với SHOPEE kiểm tra khoảng thời gian 1 tháng gần nhất những sản phẩm mới đăng, có thay đổi,....
                        Với TIKI lấy 200 sản phẩm đầu mà server trả về vì lỗi khi truy vấn theo thời gian
                        Sẽ lưu sản phẩm mới, cập nhật trạng thái của sản phẩm đã tồn tại.">
                    <span class="pwm-btn-text-common">Lấy sản phẩm mới đăng 1 tháng gần đây</span>
                </button>
            </div>
        </div>

        <div>
            <div class="paging-container">

            </div>
            <div class="product-container">

            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.paging.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/ProductECommerce/Index.js?v=20260610"></script>
</body>
</html>
