@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
    <style>
        .pro-eecomerce-mapping-container {
            margin-left: 50px;
        }
        .item-image-ACvv {
            width: 150px;
            height: 150px;
            border-radius: 3px 4px;
        }
        .one-item-container {
            display: flex;
            padding: 10px;
            align-items: center;
        }
        .fcpaxm09zf {
            margin: 5px 5px 5px 20px;
        }
    </style>
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            <div class="one-item-container">
                <a id="anzka89zbhfj" target="_blank" href=""
                   title="Click để đi trang xem sản phẩm trên sàn.">
                    <img class="item-image-ACvv">
                </a>
                <div class="fcpaxm09zf">
                    <div id="item-status-azc"></div>
                    <div id="item-name-vsfc"></div>
                </div>
            </div>
            <div id="model-list">
            </div>
            @Html.Partial("~/Views/Shared/ItemModel/Mapping.cshtml")

            <button type="button" id="update-eEcommerce-mapping" onclick="UpdateEEcommerceMapping()">Cập nhật</button>
        </div>
        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.item.model.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        InitializeModal();
        ViewItemFromId();
        let commonItem = null;
        let vbnItemId = 0;

        function GetEEcommerceTypeFromUrl() {
            let type = "SHOPEE";

            if (window.location.href.includes("SHOPEE")) {
                type = "SHOPEE";
            }
            else if (window.location.href.includes("TIKI")) {
                type = "TIKI";
            }
            else if (window.location.href.includes("LAZADA")) {
                type = "LAZADA";
            }
            return type;
        }

        function GetQuantityFromListMapping(mapping) {
            if (DEBUG) {
                console.log("GetQuantityFromListMapping Call");
                console.log("mapping: " + JSON.stringify(mapping));
            }
            let qty = Number.MAX_SAFE_INTEGER;

            if (mapping.length === 0) {
                qty = 0;
            }

            for (const m of mapping) {
                const calculatedQty = Math.floor(m.product.quantity / m.quantity);
                if (qty > calculatedQty) {
                    qty = calculatedQty;
                }
            }

            if (qty < 0) {
                qty = 0;
            }

            return qty;
        }

        async function ViewItemFromId() {
            ShowCircleLoader();

            let responseDB = await GetItemFromId(GetEEcommerceTypeFromUrl(), GetValueFromUrlName("id"));
            RemoveCircleLoader();
            if (responseDB.responseText != "null") {
                GetListProductName();
                GetListCombo();
                commonItem = JSON.parse(responseDB.responseText);
            }
            else {
                ShowDoesntFindId();
                return;
            }

            document.getElementById("anzka89zbhfj").href = GetTMDTItemUrlFromCommonItem(commonItem);

            let tikiIsVirtualParent = false;
            // Hiển thị sản phẩm của sàn
            if (commonItem.imageSrc) {
                document.getElementsByClassName("item-image-ACvv")[0].src = commonItem.imageSrc;
            }
            else {
                document.getElementsByClassName("item-image-ACvv")[0].src = srcNoImageThumbnail;
                if (commonItem.eType === eTiki) {
                    tikiIsVirtualParent = true;
                }
            }
            document.getElementById("item-name-vsfc").innerHTML = commonItem.name;
            let itemStatus;
            if (commonItem.bActive) {
                itemStatus = "Đang Bật Bán Trên Sàn";
            }
            else {
                itemStatus = "Đang Tắt Bán Trên Sàn";
            }

            document.getElementById("item-status-azc").innerHTML = itemStatus;

            UpdateModelNameIfNeed(commonItem);

            // Nếu sản phẩm tiki và là cha chung ảo hiện thông báo và không hiển thị model, mapping
            if ((commonItem.eType === eTiki && commonItem.itemId == commonItem.tikiSuperId)
                || tikiIsVirtualParent) {
                itemStatus = itemStatus + ". --------->Đây Có Thể Là Sản Phẩm Cha Ảo, Không Được Insert Vào DB";
                document.getElementById("item-status-azc").innerHTML = itemStatus;
                document.getElementById("update-eEcommerce-mapping").style.display = "none";
                return;
            }

            // Hiển thị danh sách mapping
            ShowModelEEcommerce(commonItem);
        }

        function UpdateModelNameIfNeed(item) {
            // SHOPEE Nếu Item có nhiều model, tên model có định dạng VD: TÊN SÁCH--Xình xịch Xình xịch,
            // ta cập nhật tên mới: Xình xịch Xình xịch
            if (item.eType == eShopee) {
                for (let i = 0; i < item.models.length; i++) {
                    if (item.models[i].name != null && item.models[i].name.includes("--")) {
                        const myArray = item.models[i].name.split("--");
                        item.models[i].name = myArray[myArray.length - 1];
                    }
                }
            }
        }

        // Thêm dòng hiển thị số lượng trên sàn, số lượng thực tế trong kho
        function AddQuantityInfor(modelObj, container) {
            let p = document.createElement("p");
            p.innerHTML = "Số lượng trên sàn: " + modelObj.quantity_sellable +
                " .Tồn trong kho: " + GetQuantityFromListMapping(modelObj.mapping);
            const div = document.createElement("div");
            div.appendChild(p);
            container.appendChild(div);
        }

        // Thêm nút sinh model trên web voibenho
        function AddBornModelForVoiBeNhoButton(itemObj, modelObj, container) {
            let btn = document.createElement("BUTTON");
            btn.title = "Sinh model sản phẩm tương ứng trên web voibenho";
            let btnContent = document.createTextNode("Sinh model");
            btn.itemObj = itemObj;
            btn.modelObj = modelObj;

            btn.onclick = function () {
                if (this.modelObj.pWMMappingModelId != -1 && this.modelObj.pWMMappingModelId != 0) {
                     if (confirm("Bạn CHẮC CHẮN muốn XÓA model sản phẩm đã sinh và sinh mới?") == false) {
                        return;
                    }
                }
                ShopeeBornModelForVoiBeNho(JSON.stringify(this.itemObj),
                    this.modelObj.modelId,
                    this.modelObj.pWMMappingModelId, this);
            }
            btn.appendChild(btnContent);
            //btn.className = "margin-vertical";
            //btn.style.cssFloat = "right";

            const div = document.createElement("div");
            //div.style.display = "flex";
            //div.style.flexDirection = "row-reverse";

            // Đã sinh ra model tương ứng trên web voibenho
            if (modelObj.pWMMappingModelId != -1 && modelObj.pWMMappingModelId != 0) {
                const p = document.createElement("p");
                p.innerHTML = "Đã sinh trên voibenho";
                p.title = "Xem sản phẩm tương ứng trên voibenho";
                p.style.cursor = "pointer";
                p.onclick = async function () {
                    if (vbnItemId == 0) {
                        const searchParams = new URLSearchParams();
                        searchParams.append("modelId", modelObj.pWMMappingModelId);
                        let query = "/ItemModel/GetVBNItemIdFromModelId";

                        let responseDB = await RequestHttpPostPromise(searchParams, query);

                        if (responseDB.responseText != "null") {
                            let result = JSON.parse(responseDB.responseText);
                            //if (DEBUG) {
                            //    console.log(JSON.stringify(result));
                            //}
                            if (result.State == 0) {
                                vbnItemId = result.myAnything;
                            }
                            else {
                                CreateMustClickOkModal(result.Message, null);
                                return;
                            }
                        }
                    }
                    if (vbnItemId != 0) {
                        let url = "/ItemModel/UpdateDelete?id=" + vbnItemId.toString();
                        window.open(url);
                    }
                    else {
                        CreateMustClickOkModal("Không lấy được thông tin sản phẩm. Thử lại sau.", null);
                    }
                }
                div.appendChild(p);
            }
            div.appendChild(btn);
            container.appendChild(div);
        }

        // Thêm nút Cập nhật giá bìa 
        function AddUpdateBookCoverPriceButton(itemObj, container) {
            let btn = document.createElement("BUTTON");
            btn.title = "Cập nhật giá bìa";
            let btnContent = document.createTextNode("Cập nhật giá bìa");
            btn.itemObj = itemObj;

            btn.onclick = async function () {
                await UpdateBookCoverPriceToEEcommerce(JSON.stringify(this.itemObj));
            }
            btn.appendChild(btnContent);
            const div = document.createElement("div");

            div.appendChild(btn);
            container.appendChild(div);
        }

        async function ModelUpdateMapping_ProductEEcomerce(element) {
            let listModelOnly = [];
            listModelOnly.push(element.parentElement.parentElement);
            await UpdateEEcommerceMapping_Core(listModelOnly);
        }

        // Thêm nút cập nhật mapping
        function AddMappingUpdateButtonForModel_ProductEEcomerce(container) {
            let btn = document.createElement("BUTTON");
            let btnContent = document.createTextNode("Cập nhật liên kết");
            btn.addEventListener("click", async function (event) {
                let listModelOnly = [];
                listModelOnly.push(event.currentTarget.parentElement.parentElement);
                await UpdateEEcommerceMapping_Core(listModelOnly);
            });
            btn.appendChild(btnContent);
            btn.className = "margin-vertical";
            const div = document.createElement("div");
            div.style.display = "flex";
            div.style.flexDirection = "row-reverse";
            div.appendChild(btn);
            container.appendChild(div);
        }

        function AddModelToScreenEEcommerce(itemObj, modelObj) {
            const modelContainer = document.createElement("div");
            modelContainer.style.marginLeft = "10px";
            modelContainer.style.backgroundColor = "#e6e6e6";
            modelContainer.style.padding = "10px 10px 10px 10px";
            modelContainer.style.borderRadius = "10px";
            modelContainer.className = "model-container";
            modelContainer.modelId = modelObj.modelId; // Tiki mặc định là -1 vì không có phân loại

            modelList.appendChild(modelContainer);

            // Thêm dòng hiển thị số lượng trên sàn, số lượng thực tế trong kho
            AddQuantityInfor(modelObj, modelContainer);

            // model không phải là item
            if (modelObj.modelId != -1) {
                const div = document.createElement("div");

                // Ảnh đại diện
                let imgDiv = document.createElement("img");
                imgDiv.height = thumbnailHeight;
                imgDiv.width = thumbnailWidth;
                if (modelObj.imageSrc) {
                    imgDiv.src = modelObj.imageSrc;
                }
                else {
                    imgDiv.src = srcNoImageThumbnail;
                }

                // Tên:
                let nameDiv = document.createElement("div");
                nameDiv.innerHTML = modelObj.name;
                nameDiv.style.marginLeft = "20px";

                div.appendChild(imgDiv);
                div.appendChild(nameDiv);
                div.style.display = "flex";
                div.style.alignItems = "center";
                modelContainer.appendChild(div);
            }
            // Thêm nút sinh model trên web voibenho khi là sản phẩm Shopee
            if (GetEEcommerceTypeFromUrl() == eShopee) {
                AddBornModelForVoiBeNhoButton(itemObj, modelObj, modelContainer);
            }
            // Thêm nút cập nhật giá bìa
            //if (GetEEcommerceTypeFromUrl() == eTiki) {
            //    AddUpdateBookCoverPriceButton(itemObj, modelContainer);
            //}

            // Thêm nút mapping
            AddMappingButtonForModel(modelContainer);

            AddDistanceRows(modelContainer);
            AddDistanceRows(modelList);

            return modelContainer;
        }

        function ShowModelEEcommerce(itemObj) {
            // Hiển thị các model
            let length = itemObj.models.length;
            countModel = 0;
            for (let i = 0; i < length; i++) {
                // Hiển thị mapping sản phẩm trong kho nếu có
                let modelObj = itemObj.models[i];

                let model = AddModelToScreenEEcommerce(itemObj, modelObj);

                // Hiển thị mapping
                let table = CreateModelTableMapping(model);
                let listObj = [];
                for (let j = 0; j < modelObj.mapping.length; j++) {
                    let src = "";
                    if (modelObj.mapping[j].product.imageSrc.length > 0) {
                        src = Get320VersionOfImageSrc(modelObj.mapping[j].product.imageSrc[0]);
                    }
                    else {
                        src = srcNoImageThumbnail;
                    }

                    let eImageSrc = "";
                    if (modelObj.imageSrc) {
                        eImageSrc = modelObj.imageSrc;
                    }

                    let obj = new objRowTableMapping(
                        Number(modelObj.mapping[j].product.id),
                        src,
                        modelObj.mapping[j].product.name,
                        Number(modelObj.mapping[j].quantity),
                        itemObj.eType,
                        eImageSrc
                    );

                    listObj.push(obj);
                }

                for (let j = 0; j < listObj.length; j++) {
                    CheckObjExistAndInsert(table, listObj[j]);
                }

                AddMappingUpdateButtonForModel_ProductEEcomerce(model);
            }
        }

        async function UpdateEEcommerceMapping_Core(listModelOnly) {
            const searchParams = new URLSearchParams();
            searchParams.append("eType", GetEEcommerceTypeFromUrl());

            let url = "/ProductECommerce/UpdateMapping";
            // tham số string gửi về server có dạng:
            // itemId,modelId,productId,productQuantity,...,itemId,modelId,productId,productQuantity
            let itemid = GetValueFromUrlName("id");
            let str = "";

            let length = listModelOnly.length;

            for (let i = 0; i < length; i++) {
                let model = listModelOnly[i];

                let listProIdMapping = GetListProIdMapping(model.getElementsByClassName(classOfModelTable)[0]);
                let listQuantityMapping = GetListQuantityMapping(model.getElementsByClassName(classOfModelTable)[0]);

                if (listProIdMapping.length == 0) {
                    if (!isEmptyOrSpaces(str)) {
                        str = str + ",";
                    }
                    str = str + itemid + "," + model.modelId + ",,"; // productId,productQuantity trống
                }
                else {
                    for (let j = 0; j < listProIdMapping.length; j++) {
                        if (!isEmptyOrSpaces(str)) {
                            str = str + ",";
                        }
                        str = str + itemid + "," + model.modelId + ","
                            + listProIdMapping[j] + "," + listQuantityMapping[j];
                    }
                }
            }
            searchParams.append("str", str);

            try {
                ShowCircleLoader();
                let responseDB = await RequestHttpPostPromise(searchParams, url);
                RemoveCircleLoader();

                CheckStatusResponseAndShowPrompt(responseDB.responseText, "Cập nhật thành công.", "Cập nhật lỗi.");
            }
            catch (err) {
                //alert("Cập nhật sản phẩm lỗi.");
                await CreateMustClickOkModal("Cập nhật sản phẩm lỗi.", null);
            }
            return GetEasyPromise();
        }

        async function UpdateEEcommerceMapping() {
            if (commonItem == null) {
                CreateMustClickOkModal("Sản phẩm không chính xác.", null);
                return;
            }
            let listModelOnly = GetListModelOnly();
            await UpdateEEcommerceMapping_Core(listModelOnly);
            window.scrollTo(0, 0);
        }

        async function ShopeeBornModelForVoiBeNho(strCommonItem, shopeeModelId, pWMMappingModelId, btnElement) {
            ShowCircleLoader();
            const searchParams = new URLSearchParams();
            searchParams.append("strCommonItem", strCommonItem);
            searchParams.append("shopeeModelId", shopeeModelId);
            searchParams.append("pWMMappingModelId", pWMMappingModelId);
            let url = "/ProductECommerce/ShopeeBornModelForVoiBeNho";

            try {
                let responseDB = await RequestHttpPostPromise(searchParams, url);
                let result = JSON.parse(responseDB.responseText);
                if (result.State != 0) {
                    await CreateMustClickOkModal(result.Message, null);
                }
                else {
                    alert("Sinh model sản phẩm thành công.");
                    // Nếu chưa có dòng "Đã sinh trên voibenho" thì thêm, ngược lại xóa bỏ dòng cũ thêm
                    // "Đã sinh trên voibenho" mới. Dòng mới không click được để đến trang
                    // thông tin sản phẩm trên voibenho
                    let parrent = btnElement.parentElement;
                    // Xóa dòng cũ
                    if (parrent.children.length == 2) {
                        parrent.children[0].remove();
                    }
                    // Thêm dòng mới
                    const p = document.createElement("p");
                    p.innerHTML = "Đã sinh trên voibenho";
                    p.title = "Load lại trang để xem sản phẩm tương ứng trên voibenho";
                    parrent.insertBefore(p, parrent.children[0]);
                }
            }
            catch (err) {
                await CreateMustClickOkModal("Sinh model sản phẩm lỗi.", null);
                RemoveCircleLoader();
                return;
            }

            RemoveCircleLoader();
        }

        async function UpdateBookCoverPriceToEEcommerce(strCommonItem) {
            const searchParams = new URLSearchParams();
            searchParams.append("strCommonItem", strCommonItem);
            let url = "/ProductECommerce/UpdateBookCoverPriceToEEcommerce";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, url);
            RemoveCircleLoader();
            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công.", "Thất bại.");
        }
    </script>
</body>
</html>

