@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css?v=20260610">
    <link rel="stylesheet" href="~/Content/ProductECommerce/Item.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            <div class="one-item-container">
                <a id="anzka89zbhfj" target="_blank" href=""
                   title="Click để đi trang xem sản phẩm trên sàn.">
                    <img class="item-image-ACvv">
                </a>
                <div class="fcpaxm09zf">
                    <div id="item-status-azc"></div>
                    <div id="item-name-vsfc"></div>
                </div>
            </div>
            <div id="model-list">
            </div>
            @Html.Partial("~/Views/Shared/ItemModel/Mapping.cshtml")

            <button type="button" id="update-eEcommerce-mapping" onclick="UpdateEEcommerceMapping()"
                    title="Cập nhật tất cả liên kết">
                Cập nhật tất cả liên kết
            </button>

            <button type="button" id="update-price-sale-price" onclick="UpdateQuantityPrice_SpecialPrice()"
                    title="Cập nhật tồn kho, giá bìa, giá bán đối với sản phẩm sàn Lazada">
                Cập nhật tồn kho, giá bán, giá bìa
            </button>
        </div>
        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.item.model.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/ProductECommerce/item.js?v=20260610"></script>
</body>
</html>

