@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
    <style>
        .pro-eecomerce-mapping-container {
            margin-left: 50px;
        }
        .item-image-ACvv {
            width: 150px;
            height: 150px;
            border-radius: 3px 4px;
        }
        .one-item-container {
            display: flex;
            padding: 10px;
            align-items: center;
        }
        .fcpaxm09zf {
            margin: 5px 5px 5px 20px;
        }
    </style>
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            <div class="one-item-container">
                <a id="anzka89zbhfj" target="_blank" href=""
                   title="Click để đi trang xem sản phẩm trên sàn.">
                    <img class="item-image-ACvv">
                </a>
                <div class="fcpaxm09zf">
                    <div id="item-status-azc"></div>
                    <div id="item-name-vsfc"></div>
                </div>
            </div>
            <div id="model-list">
            </div>
            @Html.Partial("~/Views/Shared/ItemModel/Mapping.cshtml")

            <button type="button" id="update-eEcommerce-mapping" onclick="UpdateEEcommerceMapping()"
                    title="Cập nhật tất cả liên kết">
                Cập nhật tất cả liên kết
            </button>

            <button type="button" id="update-price-sale-price" onclick="UpdateQuantityPrice_SpecialPrice()"
                    title="Cập nhật tồn kho, giá bìa, giá bán đối với sản phẩm sàn Lazada">
                Cập nhật tồn kho, giá bán, giá bìa
            </button>
        </div>
        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.item.model.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script src="~/Scripts/ProductECommerce/item.js"></script>
</body>
</html>

