@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            <div style="margin-bottom:10px;">
                @Html.Partial("~/Views/Shared/ECommerceType.cshtml")
                <div>
                    <label for="selling-statistics-interval">Khoảng thời gian (ngày):</label>
                    <input type="number" min="30" value="30" id="selling-statistics-interval"
                           title="Giá trị nhỏ nhất là 30 ngày">
                    <button type="button" style="margin-left: 30px; margin-right:10px;"
                            title="Thống kê số lượng đơn hàng bán, hủy trong khoảng thời gian đã chọn"
                            onclick="OrderStatistics()">
                        Thống Kê
                    </button>
                </div>
            </div>
            <br />

            <div id="container-statistics" style="display:none;">
                <div id="count-result"></div>
                <table id="myTableStatistics">
                    <tr>
                        <th>Sàn</th>
                        <th>Mã Đơn</th>
                        <th>Mã Vận Chuyển</th>
                        <th>Thời Gian</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/ProductECommerce/OrderStatistics.js?v=20260610"></script>
</body>
</html>

