@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    @*<link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">*@
    <link rel="stylesheet" href="~/Content/ProductECommerce/Order.css?v=20260610">
</head>
<body>
    <div id="biggestContainer">
        <div class="display-flex-margin10">
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="one-day" name="from-to-day" class="margin-left20 one-day">
                <label for="one-day">1 Ngày</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="seven-day" name="from-to-day" class="margin-left20 seven-day" checked>
                <label for="seven-day">7 Ngày</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="thirty-day" name="from-to-day" class="margin-left20 thirty-day">
                <label for="thirty-day">30 Ngày</label>
            </div>
        </div>

        <div class="display-flex-margin10">
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="all-order" name="order-type" class="margin-left20 all-order">
                <label for="all-order">Tất Cả</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="dont-pack-order" name="order-type" class="margin-left20 dont-pack-order"
                       checked>
                <label for="dont-pack-order">Cần Gửi Hàng</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="canceled-order" name="order-type" class="margin-left20 canceled-order">
                <label for="canceled-order">Hủy</label>
            </div>
        </div>

        <div class="display-flex-margin10">
            <button type="button" class="vndejhx90" onclick="GetListOrder()"
                    title="Lấy danh sách đơn hàng theo thời gian, trạng thái như trên">
                Danh Sách Đơn Hàng
            </button>
            <button type="button" class="vndejhx90" title="Khả dụng khi chọn Cần Gửi Hàng"
                    onclick="CheckPackedOrderEnough()">
                Kiểm Tra Đủ Đơn
            </button>
        </div>

        @Html.Partial("~/Views/Shared/ECommerceType.cshtml")

        <div class="display-flex-margin10">
            <input type="text" class="vndejhx90" name="order-code" title="Mã đơn hàng hoặc mã vận đơn hoặc mã booking hoặc mã vận đơn của booking" />
            <button type="button" class="vndejhx90 btn-order-detail" onclick="OrderDetailFromDownloadedList()"
                    title="Tìm trong danh sách dữ liệu đã tải về">
                Chi Tiết Đơn Hàng Từ Danh Sách Đã Tải
            </button>

            <button type="button" class="vndejhx90 btn-order-detail-from-serer" onclick="OrderDetailFromServer()"
                    title="Ưu tiên nhập MÃ ĐƠN. Với SHOPEE nếu là mã vận chuyển thì với sẽ lấy mã đơn từ server voi bé nhỏ nếu có lưu.
                    Nếu là booking cần check vào checkbox Là Booking
                    Còn không thì chịu, phải lên sàn lấy mã đơn.">
                Chi Tiết Đơn Hàng Từ Server
            </button>
            <input id="is-booking-code" type="checkbox">
            <label for="is-booking-code" class="vndejhx90"> Là Booking</label>

            <div title="Bắt enter vào chi tiết đơn hàng từ server">
                <input id="is-order-detail-from-server" type="checkbox">
                <label for="is-order-detail-from-server" class="vndejhx90"> Chi tiết đơn hàng từ server</label>
            </div>
        </div>
        <div class="display-flex-margin10" title="Lọc trạng thái: đã đóng, đã hoàn, giữ chỗ, hủy giữ chỗ.">
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="order-status-all" name="order-status-packed-returned-booked-unbooked"
                       class="margin-left20 all-order" checked onchange="ChangeOrderStatusInWarehouse()">
                <label for="order-status-all">Tất Cả</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="order-status-packed" name="order-status-packed-returned-booked-unbooked"
                       class="margin-left20 dont-pack-order" onchange="ChangeOrderStatusInWarehouse()">
                <label for="order-status-packed">Đã Đóng</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="order-status-returned" name="order-status-packed-returned-booked-unbooked"
                       class="margin-left20 canceled-order" onchange="ChangeOrderStatusInWarehouse()">
                <label for="order-status-returned">Đã Hoàn</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="order-status-booked" name="order-status-packed-returned-booked-unbooked"
                       class="margin-left20 canceled-order" onchange="ChangeOrderStatusInWarehouse()">
                <label for="order-status-booked">Giữ Chỗ</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <input type="radio" id="order-status-unbooked" name="order-status-packed-returned-booked-unbooked"
                       class="margin-left20 canceled-order" onchange="ChangeOrderStatusInWarehouse()">
                <label for="order-status-unbooked">Hủy Giữ Chỗ</label>
            </div>
            <div class="display-flex-margin-right20-align-items-center">
                <label id="count-order-on-view" style="padding-left:20px;"> 0 đơn hàng</label>
            </div>
        </div>

        <div>
            <table class="order-table">
                <tr>
                    <th style="width:60px">Sàn</th>
                    <th>Mã Đơn Hàng</th>
                    <th>Mã Vận Đơn</th>
                    <th>Trạng Thái</th>
                    <th>Thời Gian</th>
                    <th>Đóng/Hoàn</th>
                </tr>
            </table>
        </div>
        <div>
            <audio id="myAudioBigQuantity">
                <source src="~/Media/SoundCheckAmount.m4a" type="audio/m4a">
                <source src="~/Media/SoundCheckAmount.wav" type="audio/wav">
            </audio>
            <audio id="mySPKhongCoTrongDonHang">
                <source src="~/Media/SPKhongCoTrongDonHang.m4a" type="audio/m4a">
                <source src="~/Media/SPKhongCoTrongDonHang.wav" type="audio/wav">
            </audio>
            <audio id="myCoSPTrongDonHangChuaMapping">
                <source src="~/Media/CoSPTrongDonHangChuaMapping.m4a" type="audio/m4a">
                <source src="~/Media/CoSPTrongDonHangChuaMapping.wav" type="audio/wav">
            </audio>
            <audio id="myDonDuSP">
                <source src="~/Media/DonDuSP.m4a" type="audio/m4a">
                <source src="~/Media/DonDuSP.wav" type="audio/wav">
            </audio>
            <audio id="myMaSP-ISBNKhongDung">
                <source src="~/Media/MaSP-ISBNKhongDung.m4a" type="audio/m4a">
                <source src="~/Media/MaSP-ISBNKhongDung.wav" type="audio/wav">
            </audio>
            <audio id="mySPDaDuSoLuong">
                <source src="~/Media/SPDaDuSoLuong.m4a" type="audio/m4a">
                <source src="~/Media/SPDaDuSoLuong.wav" type="audio/wav">
            </audio>
            <audio id="myDonDaDongHoacHuy">
                <source src="~/Media/DonDaDongHoacHuy.m4a" type="audio/m4a">
                <source src="~/Media/DonDaDongHoacHuy.wav" type="audio/wav">
            </audio>
            <audio id="myKhachNhanShop">
                <source src="~/Media/KhachNhanShop.m4a" type="audio/m4a">
                <source src="~/Media/KhachNhanShop.wav" type="audio/wav">
            </audio>
        </div>
    </div>
    <div id="order-detail-modal" class="order-modal">
        <div class="order-content-modal">
            <div class="adasdxcvfbxc">
                <span class="order-close">&times;</span>
                <img src="~/Media/icons8-refresh-48.png" class="sdfx09re789" />
                <div>
                    <div>
                        <p class="xxvAFXF90 cccaaa4545 nvns63099"> Mã Đơn Hàng: </p>
                        <p class="zcx6768SF cccaaa4545 nvns63099"></p>

                        <p class="xxvsfszfasf cccaaa4545 nvns63099"> Mã Vận Đơn: </p>
                        <p class="gsbmlxm88 cccaaa4545 nvns63099"></p>
                    </div>
                    <div id="message-to-seller" style="display:none;color:orange">

                    </div>
                    <input type="text" class="nvns63099" name="product-code-isbn" />
                    <button type="button" class="nvns63099 btn-add-product" onclick="AddProduct()">Thêm Sản Phẩm</button>
                    <button type="button" id="return-order-id" title="Trong kho có sự thay đổi số lượng, tự động cập nhật tồn kho lên sàn."
                            class="nvns63099 btn-return-order" onclick="ReturnedOrder()">Hoàn Hàng</button>
                </div>
            </div>

            <div class="order-detail">
            </div>
            <div class="xcvxvdgdfw">
                <button type="button" id="enough-product-id" title="Trong kho không có sự thay đổi số lượng, vì số lượng đã thay đổi khi có đơn và giữ chỗ
                        Không tự động cập nhật tồn kho lên sàn." class="nvns63099 btn-enough-product" onclick="EnoughProduct()">Đủ Sản Phẩm</button>
            </div>
        </div>
    </div>

    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.oder.admin.js?v=20260610"></script>
</body>
</html>

