@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/ItemModel/Search.css?v=20260610">
</head>
<body>

    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            <div class="amzof92nxj" title="Tìm kiếm từ cơ sở dữ liệu">
                @*<div>
                        <label for="publisher-id">Nhà phát hành:</label>
                        <input type="text" list="list-Publisher" class="config-max-width margin-vertical"
                               id="publisher-id">
                        <datalist id="list-Publisher"></datalist>
                    </div>*@
                <div>
                    <label for="item-model-name">Tên sản phẩm:</label><br>
                    <input class="config-max-width margin-vertical" type="text" id="item-model-name" value=""
                           title="Tìm theo tên. Để trống nếu tìm tất cả sản phẩm">
                    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
                </div>

                <button type="button" onclick="Search()">Tìm kiếm</button>
            </div>
            <div>
                <div id="empty-result" style="display:none">
                    <p>Kết quả trống</p>
                </div>

                <div id="search-result" style="display:none">
                    <div class="fmx09gx8" title="Lọc kết quả tìm kiếm và hiển thị">
                        <div class="display-flex-margin-right20-align-items-center">
                            <input type="radio" id="sgdhgf567xbx" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemAll()">
                            <label for="sgdhgf567xbx">Tất Cả</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Item có model chưa liên kết với sản phẩm trong kho">
                            <input type="radio" id="cbcbsg78447823" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemNoMapping()">
                            <label for="cbcbsg78447823">Chưa Liên Kết</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Giá bìa/giá bán nhỏ hơn hoặc bằng 0">
                            <input type="radio" id="nskzfh09fjzn" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemNoPrice()">
                            <label for="nskzfh09fjzn">Chưa Xét Giá</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Giá bán có chiết khấu lớn hơn hoặc bằng giá trị % bên cạnh">
                            <input type="radio" id="fzafgrj9567af" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemDiscountBigger()">
                            <label for="fzafgrj9567af">Chiết Khấu Lớn Hơn</label>
                            <input type="number" class="discout-bigger gfdgdgdxg676"
                                   value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                            <label>%</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Giá bán có chiết khấu nhỏ hơn hoặc bằng giá trị % bên cạnh">
                            <input type="radio" id="ghjsf8345sg" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemDiscountSmaller()">
                            <label for="ghjsf8345sg">Chiết Khấu Nhỏ Hơn</label>
                            <input type="number" class="discout-smaller gfdgdgdxg676"
                                   value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                            <label>%</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Giá bán có giá lớn hơn hoặc bằng giá trị bên cạnh">
                            <input type="radio" id="fzadgfgrj9567af" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemPriceBigger()">
                            <label for="fzadgfgrj9567af">Giá Lớn Hơn</label>
                            <input type="number" class="price-bigger gfdgfghxg676"
                                   value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                            <label>đ</label>
                        </div>
                        <div class="display-flex-margin-right20-align-items-center" title="Giá bán nhỏ hơn hoặc bằng giá trị bên cạnh">
                            <input type="radio" id="ghjsf834gh5sg" name="price-filter-type" class="margin-left20"
                                   onchange="FilterItemPriceSmaller()">
                            <label for="ghjsf834gh5sg">Giá Nhỏ Hơn</label>
                            <input type="number" class="price-smaller gfdgfghxg676"
                                   value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                            <label>đ</label>
                        </div>
                    </div>
                    <div class="fksnvjsl092n" title="Set chiếu khấu cho phân loại có giá lớn hơn hoặc bằng của item đang hiển thị">
                        <label>Nhập chiết khấu</label>
                        <input type="number" class="discout-for-list-item-bigger gfdgdgdxg676"
                               value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                        <label>% với phân loại có giá lớn hơn</label>
                        <input type="number" class="price-for-list-item-bigger gfdgfghxg676"
                               value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                        <label>đ</label>
                        <button type="button" onclick="UpdateDiscountForListItemBigger()">
                            Set chiết khấu
                        </button>
                    </div>

                    <div class="fksnvjsl092n" title="Set chiếu khấu cho phân loại có giá nhỏ hơn hoặc bằng của item đang hiển thị">
                        <label>Nhập chiết khấu</label>
                        <input type="number" class="discout-for-list-item-smaller gfdgdgdxg676"
                               value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                        <label>% với phân loại có giá nhỏ hơn</label>
                        <input type="number" class="price-for-list-item-smaller gfdgfghxg676"
                               value="0" oninput="ValidatePositiveIntegerNumber(this)" />
                        <label>đ</label>
                        <button type="button" onclick="UpdateDiscountForListItemSmaller()">
                            Set chiết khấu
                        </button>
                    </div>
                    <p class="avasf931"></p>
                    <table id="myTable">
                        <tr>
                            <th style="display:none"></th>
                            <th style="width:200px">Ảnh</th>
                            <th>Tên</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    </script>
</body>
</html>

