@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
</head>
<body>

    <div id="biggestContainer">
        <div class="config-max-width padding-container" id="result-find-id">
            @Html.Partial("~/Views/Shared/ItemModel/ItemModelInputCommon.cshtml")

            <button type="button" onclick="UpdateItemModel()" style="margin-right:20px;">Cập nhật</button>
            <button type="button" onclick="DeleteItemModel()"
                    title="Xóa item, model thuộc item, mapping sản phẩm trong kho tương ứng,
                    mapping sản phẩm trên Shopee, Tiki, Lazada tương ứng">
                Xóa
            </button>
            @Html.Partial("~/Views/Shared/ItemModel/Mapping.cshtml")
        </div>
        @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.image.video.common.js"></script>
    <script src="~/Scripts/web.play.with.me.item.model.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        InitializeModal();
        ShowItemFromItemObject();
    </script>
</body>
</html>

