@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <link rel="stylesheet" href="~/Content/web.play.with.me.modal.common.css">
</head>
<body>

    <div id="biggestContainer">
        <div class="config-max-width padding-container">
            @Html.Partial("~/Views/Shared/ItemModel/ItemModelInputCommon.cshtml")

            <button type="button" onclick="UpdateItemModel()">Cập nhật</button>
            @Html.Partial("~/Views/Shared/ItemModel/Mapping.cshtml")
        </div>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.image.video.common.js"></script>
    <script src="~/Scripts/web.play.with.me.item.model.js"></script>
    <script>
        ShowItemFromItemObject();
    </script>
    <script>
        InitializeModal();
    </script>
</body>
</html>

