
<div id="modal-list-customer-infor" class="modal center-block-selected">
    <!-- Modal content -->
    <div class="modal-content-container">
        <div>Địa Chỉ Của Tôi</div>
        <div class="sample-customer-infor-container">
            <div>
                <input type="radio" name="address-radio" class="address-radio">
            </div>
            <div class="address">
                <div class="name-phone">
                    <span class="name"> Hoàng Huệ</span>
                    <span class="phone"> 0359127226</span>
                </div>
                <div>
                    <div class="detail">Số 24 , Ngõ Việt Hà 2, khu tập thể Việt Hà, tổ dân phố Phú Minh</div>
                    <div class="province-district-subdistrict">Phường Cổ Nhuế 2, Quận Bắc Từ Liêm, Hà Nội</div>
                </div>
                <div>
                    <span class="default-address">Mặc định</span>
                </div>
            </div>
            <div>
                <button onclick="UpdateCustomerInfor(this)">Cập Nhật</button>
            </div>
        </div>
        <div class="list-customer-infor-container">

        </div>

        <button class="add-new-from-list-customer-infor" onclick="ShowCustomerInforModal(true, true)">
            <svg viewBox="0 0 10 10" class="FN1xCw">
                <path stroke="none" d="m10 4.5h-4.5v-4.5h-1v4.5h-4.5v1h4.5v4.5h1v-4.5h4.5z"></path>
            </svg>
            Thêm Địa Chỉ Mới
        </button>
        <div class="modal-list-customer-infor-button">
            <button class="modal-list-customer-infor-button-destroy" onclick="DestroyListCustomerInforModal()">Hủy</button>
            <button class="modal-list-customer-infor-button-confirm" onclick="ConfirmListCustomerInforModal()">Xác Nhận</button>
        </div>
    </div>
</div>




