<div>
    <!-- The Modal -->
    <div id="myModal-over-max" class="modal center-block-selected">
        <!-- Modal content -->
        <div class="modal-content-selected">
            <div class="shopee-alert-popup__message">
                Bạn đã có 17 sản phẩm trong giỏ hàng. Không thể thêm số lượng đã chọn vào giỏ hàng vì sẽ vượt quá giới hạn mua hàng của bạn.
            </div>
            <div>
            <button class="btn-over-max" type="button" onclick="CloseOverMaxModal()">OK</button>
            </div>
        </div>
    </div>
</div>

