
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
</head>
<body>

    <div id="biggestContainer">
        @Html.Partial("~/Views/Shared/Publisher.cshtml")

        <script>
            function CreatePublisher() {
                let publisherName = document.getElementById("publisher-id").value;
                if (CheckIsEmptyOrSpacesAndShowResult(publisherName, "Tên nhà phát hành không hợp lệ.")) {
                    return;
                }
                let publisherId = GetDataIdFromPublisherDatalist(publisherName);
                if (publisherId != null) {
                    if (DEBUG) {
                        console.log("Nhà phát hành đã có, publisherId is: " + publisherId);
                    }
                    ShowResult("Tên nhà phát hành đã có.");
                    return;
                }

                if (DEBUG) {
                    console.log("Tên nhà phát hành hợp lệ có thể thêm mới!");
                }
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        GetJsonResponse(this.responseText);
                    }
                }
                let query = "/Publisher/CreatePublisher?name=";
                query = query + publisherName;
                query = query + "&detail=";
                let detail = document.getElementById("detail").value;
                query = query + detail;
                if (DEBUG) {
                    console.log(query);
                }
                xhttp.open("GET", query);
                xhttp.send();
            }

            function UpdatePublisher() {
                window.location.href = "/Publisher/UpdateDelete";
            }

            function DeletePublisher() {
                window.location.href = "/Publisher/UpdateDelete";
            }

        </script>
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.publisher.common.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
</body>
</html>
