<div>
    <label for="item-name-id">Tên:</label>
    <input list="list-item-name" type="text" class="config-max-width margin-vertical" id="item-name-id">

    <datalist id="list-item-name">
        @foreach (var pub in ViewData["lsItemName"] as IList<MVCPlayWithMe.Models.BasicIdName>)
        {
            <option data-id=@pub.id>@pub.name</option>
        }
    </datalist>
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
</div>
