<div>
    <label for="item-model-name">Tên sản phẩm:</label><br>
    <input class="config-max-width margin-vertical" type="text" id="item-model-name" value="">
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
</div>
